@use 'sass:map';
@use 'paletes' as paletes;
@use '@angular/material' as mat;

$helix-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: paletes.$primary,
      tertiary: paletes.$tertiary,
    ),
    typography: (
      use-system-variables: true,
      system-variables-prefix: sys,
    ),
  )
);
$helix-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: paletes.$primary,
      tertiary: paletes.$tertiary,
    ),
  )
);
$helix-error-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: paletes.$error,
      tertiary: paletes.$tertiary,
    ),
  )
);
$helix-success-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: paletes.$success,
      tertiary: paletes.$tertiary,
    ),
  )
);
$helix-invert-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: paletes.$secondary,
      tertiary: paletes.$primary,
    ),
  )
);
