/* stylelint-disable scss/dollar-variable-pattern */
@use 'sass:map';

@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #0f1011,
    10: #191a1c,
    20: #1f2022,
    25: #1f2022,
    30: #252628,
    35: #252628,
    40: #2a2b2d,
    50: #4a4b4d,
    60: #6a6b6c,
    70: #959596,
    80: #bfbfc0,
    90: #e5e6e6,
    95: #f2f2f2,
    98: #f8f8f8,
    99: #fcfcfc,
    100: #fff,
  ),
  secondary: (
    0: #fff,
    10: #ffffff,
    20: #ffffff,
    25: #ffffff,
    30: #ffffff,
    35: #ffffff,
    40: #ffffff,
    50: #6a6b6c,
    60: #4a4b4d,
    70: #2a2b2d,
    80: #252628,
    90: #252628,
    95: #1f2022,
    98: #1f2022,
    99: #191a1c,
    100: #0f1011,
  ),
  tertiary: (
    0: #000,
    10: #22005d,
    20: #3a0092,
    25: #460da7,
    30: #5223b3,
    35: #5e33bf,
    40: #6a41cc,
    50: #845de7,
    60: #9e79ff,
    70: #b69bff,
    80: #cfbcff,
    90: #e9ddff,
    95: #e9ddff,
    98: #fdf7ff,
    99: #fffbff,
    100: #fff,
  ),
  neutral: (
    0: #000,
    4: #0d0d0d,
    6: #171717,
    10: #2a2b2d,
    12: #262626,
    17: #2e2e2e,
    20: #363636,
    22: #3b3b3b,
    24: #404040,
    25: #404040,
    30: #4d4d4d,
    40: #666,
    50: #808080,
    60: #999,
    70: #b3b3b3,
    80: #cfcfcf,
    87: #dedede,
    90: #e6e6e6,
    92: #ebebeb,
    94: #f0f0f0,
    95: #f2f2f2,
    96: #f5f5f5,
    98: #fafafa,
    99: #fcfcfc,
    100: #fff,
  ),
  neutral-variant: (
    0: #000,
    10: #222,
    20: #373737,
    25: #373737,
    30: #4f4f4f,
    35: #4f4f4f,
    40: #666,
    50: #7e7e7e,
    60: #999,
    70: #b4b4b4,
    80: #d0d0d0,
    90: #dfe1e2,
    95: #fafafa,
    98: #fcfcfc,
    99: #fcfcfc,
    100: #fff,
  ),
  error: (
    0: #000,
    10: #410b0d,
    20: #631618,
    25: #631618,
    30: #962428,
    35: #962428,
    40: #c43136,
    50: #de3e43,
    60: #e56367,
    70: #ed8e91,
    80: #f2c2c2,
    90: #fadcdc,
    95: #ffeded,
    98: #fffafa,
    99: #fffafa,
    100: #fff,
  ),
);
$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_secondary: map.merge(map.get($_palettes, secondary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);
$_error: map.merge(map.get($_palettes, error), $_rest);
$helix-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      use-system-variables: true,
    ),
  )
);
$helix-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
  )
);
$helix-error-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_error,
      tertiary: $_tertiary,
    ),
  )
);

$helix-invert-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_secondary,
      tertiary: $_primary,
    ),
  )
);

@mixin theme-helix-overrides() {
  @include mat.fab-color($helix-theme, $color-variant: secondary);
  $helix-default-round-shape: 2px;
  $helix-default-container-background: white;

  // Typography definitions
  --sys-display-large: 700 40px/ 56px 'Clarivate Regular';
  --sys-display-large-font: 'Clarivate Regular';
  --sys-display-large-weight: 700;
  --sys-display-large-line-height: 56px;
  --sys-display-large-size: 40px;
  --sys-display-large-tracking: -0.25px;
  --sys-display-medium: 700 24px / 32px 'Clarivate Regular';
  --sys-display-medium-font: 'Clarivate Regular';
  --sys-display-medium-weight: 700;
  --sys-display-medium-line-height: 32px;
  --sys-display-medium-size: 24px;
  --sys-display-medium-tracking: normal;
  --sys-display-small: 700 18px / 24px 'Clarivate Regular';
  --sys-display-small-font: 'Clarivate Regular';
  --sys-display-small-weight: 700;
  --sys-display-small-line-height: 24px;
  --sys-display-small-size: 18px;
  --sys-display-small-tracking: normal;
  --sys-headline-large: 700 32px / 40px 'Source Sans 3', sans-serif;
  --sys-headline-large-font: 'Source Sans 3', sans-serif;
  --sys-headline-large-weight: 700;
  --sys-headline-large-line-height: 40px;
  --sys-headline-large-size: 32px;
  --sys-headline-large-tracking: -0.25px;
  --sys-headline-medium: 600 24px / 32px 'Source Sans 3', sans-serif;
  --sys-headline-medium-font: 'Source Sans 3', sans-serif;
  --sys-headline-medium-weight: 600;
  --sys-headline-medium-line-height: 32px;
  --sys-headline-medium-size: 24px;
  --sys-headline-medium-tracking: normal;
  --sys-headline-small: 600 18px / 24px 'Source Sans 3', sans-serif;
  --sys-headline-small-font: 'Source Sans 3', sans-serif;
  --sys-headline-small-weight: 600;
  --sys-headline-small-line-height: 24px;
  --sys-headline-small-size: 18px;
  --sys-headline-small-tracking: normal;
  --sys-title-large: 400 24px / 32px 'Source Sans 3', sans-serif;
  --sys-title-large-font: 'Source Sans 3', sans-serif;
  --sys-title-large-weight: 400;
  --sys-title-large-line-height: 32px;
  --sys-title-large-size: 24px;
  --sys-title-large-tracking: normal;
  --sys-title-medium: 400 18px / 24px 'Source Sans 3', sans-serif;
  --sys-title-medium-font: 'Source Sans 3', sans-serif;
  --sys-title-medium-weight: 400;
  --sys-title-medium-line-height: 24px;
  --sys-title-medium-size: 18px;
  --sys-title-medium-tracking: 0.15px;
  --sys-title-small: 400 16px / 24px 'Source Sans 3', sans-serif;
  --sys-title-small-font: 'Source Sans 3', sans-serif;
  --sys-title-small-weight: 400;
  --sys-title-small-line-height: 24px;
  --sys-title-small-size: 16px;
  --sys-title-small-tracking: 0.1px;
  --sys-label-large: 600 14px / 20px 'Source Sans 3', sans-serif;
  --sys-label-large-font: 'Source Sans 3', sans-serif;
  --sys-label-large-weight: 600;
  --sys-label-large-line-height: 20px;
  --sys-label-large-size: 14px;
  --sys-label-large-tracking: 0.1px;
  --sys-label-medium: 600 14px / 20px 'Source Sans 3', sans-serif;
  --sys-label-medium-font: 'Source Sans 3', sans-serif;
  --sys-label-medium-weight: 600;
  --sys-label-medium-line-height: 20px;
  --sys-label-medium-size: 14px;
  --sys-label-medium-tracking: 0.5px;
  --sys-label-small: 600 12px / 20px 'Source Sans 3', sans-serif;
  --sys-label-small-font: 'Source Sans 3', sans-serif;
  --sys-label-small-weight: 600;
  --sys-label-small-line-height: 20px;
  --sys-label-small-size: 12px;
  --sys-label-small-tracking: 0.5px;
  --sys-body-large: 400 14px / 24px 'Source Sans 3', sans-serif;
  --sys-body-large-font: 'Source Sans 3', sans-serif;
  --sys-body-large-weight: 400;
  --sys-body-large-line-height: 24px;
  --sys-body-large-size: 14px;
  --sys-body-large-tracking: 0;
  --sys-body-medium: 400 14px / 24px 'Source Sans 3', sans-serif;
  --sys-body-medium-font: 'Source Sans 3', sans-serif;
  --sys-body-medium-weight: 400;
  --sys-body-medium-line-height: 24px;
  --sys-body-medium-size: 14px;
  --sys-body-medium-tracking: 0.25px;
  --sys-body-small: 400 13px / 16px 'Source Sans 3', sans-serif;
  --sys-body-small-font: 'Source Sans 3', sans-serif;
  --sys-body-small-weight: 400;
  --sys-body-small-line-height: 16px;
  --sys-body-small-size: 13px;
  --sys-body-small-tracking: 0.4px;

  --mdc-protected-button-container-shape: #{$helix-default-round-shape};
  --mdc-outlined-button-container-shape: #{$helix-default-round-shape};
  --mdc-filled-button-container-shape: #{$helix-default-round-shape};
  --mdc-text-button-container-shape: #{$helix-default-round-shape};
  --mdc-filled-text-field-container-shape: #{$helix-default-round-shape};
  --mdc-outlined-text-field-container-shape: #{$helix-default-round-shape};
  --mat-standard-button-toggle-shape: #{$helix-default-round-shape};
  --mat-standard-button-toggle-divider-color: transparent;
  --mdc-tab-indicator-active-indicator-height: 4px;
  --mdc-shape-small: 0;
  --mat-autocomplete-background-color: #{$helix-default-container-background};
  --mat-select-panel-background-color: #{$helix-default-container-background};
  --mat-datepicker-calendar-container-shape: #{$helix-default-round-shape};
  --mat-datepicker-calendar-container-background-color: #{$helix-default-container-background};
  --mat-menu-container-color: white;
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --mat-datepicker-calendar-container-elevation-shadow: 0 3px 1px -2px rgb(0 0 0 /
          20%),
    0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  --mat-divider-color: #dfe1e2;
  --mdc-linear-progress-track-color: #cfcfcf;
  --mdc-chip-container-shape-radius: 16px;
  --mdc-chip-outline-color: transparent;
  --mdc-fab-container-shape: 28px;
  --mdc-fab-small-container-shape: 28px;
  --mat-paginator-container-background-color: transparent;
  --mdc-plain-tooltip-container-color: #5f6368;
  --mat-expansion-container-shape: #{$helix-default-round-shape};
  --mat-expansion-container-background-color: #{$helix-default-container-background};
  --mdc-elevated-card-container-shape: #{$helix-default-round-shape};
  --mdc-elevated-card-container-color: #{$helix-default-container-background};
  --mat-tree-container-background-color: #{$helix-default-container-background};
  --mdc-dialog-container-shape: #{$helix-default-round-shape};
  --mdc-dialog-container-color: #{$helix-default-container-background};
  --mat-stepper-header-focus-state-layer-shape: #{$helix-default-round-shape};
  --mat-stepper-header-hover-state-layer-shape: #{$helix-default-round-shape};
  --mat-sidenav-container-shape: #{$helix-default-round-shape};
  --mat-snack-bar-button-color: #ffffff;
  --mdc-outlined-text-field-outline-color: #babcbe;
  --mdc-outlined-text-field-hover-outline-color: #5f6368;
  --mdc-outlined-text-field-focus-outline-color: #2a2b2d;

  @include mat.badge-color($helix-theme, $color-variant: tertiary);

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &[underline] {
      text-decoration: underline;
      text-decoration-skip-ink: auto;
      text-decoration-style: solid;
      text-underline-position: from-font;

      &:hover {
        text-decoration-thickness: 12%;
      }
    }
  }

  a .mdc-text-field {
    border-radius: 0 !important;

    --mdc-shape-small: 0;
  }

  [fitInkBarToContent] {
    --mdc-tab-indicator-active-indicator-shape: 2px 2px 0 0;
  }

  .hlx-btn-accent {
    @include mat.button-color($helix-theme, $color-variant: tertiary);
    @include mat.fab-color($helix-theme, $color-variant: tertiary);
    --mdc-outlined-button-outline-color: #5e33bf;
    --mdc-fab-container-color: #5e33bf;
    --mat-fab-foreground-color: #fff;
    --mdc-fab-small-container-color: #5e33bf;
    --mat-fab-small-foreground-color: #fff;
  }

  .hlx-btn-negative {
    @include mat.button-color($helix-error-theme);
    --mdc-outlined-button-outline-color: #c43136;
    --mdc-fab-container-color: #c43136;
    --mdc-fab-small-container-color: #c43136;
  }

  .hlx-btn-invert {
    @include mat.button-color($helix-invert-theme, $color-variant: primary);
    --mdc-outlined-button-outline-color: #ffffff;
    --mdc-fab-container-color: #fff;
    --mat-fab-foreground-color: #2a2b2d;
    --mdc-fab-small-container-color: #fff;
    --mat-fab-small-foreground-color: #2a2b2d;
  }

  .hlx-btn-small {
    @include mat.button-density(-1);
  }

  .hlx-btn-xsmall {
    @include mat.button-density(-2);
  }

  .hlx-btn-xxsmall {
    @include mat.button-density(-3);
  }

  .hlx-input-small {
    @include mat.form-field-density(-3);
  }

  .hlx-btn-large {
    button.mdc-button {
      height: auto;
      padding: 18px 32px;
    }
  }

  .hlx-slide-toggle-small {
    @include mat.slide-toggle-density(-2);
    --mdc-switch-track-height: 28px;
  }

  .hlx-neutral-chip {
    @include mat.chips-color($helix-theme, $color-variant: secondary);
    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #dfe1e2;
    --mdc-chip-label-text-color: #2a2b2d;
  }

  .hlx-primary-chip {
    @include mat.chips-color($helix-theme, $color-variant: primary);
    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #2a2b2d;
    --mdc-chip-label-text-color: #fff;
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 1;
  }

  .hlx-accent-chip {
    @include mat.chips-color($helix-theme, $color-variant: tertiary);
    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #5e33bf;
    --mdc-chip-label-text-color: #fff;
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 0.16;
  }

  .hlx-negative-chip {
    @include mat.chips-color($helix-theme, $color-variant: error);
    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #fadcdc;
    --mdc-chip-label-text-color: #410b0d;
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 0.04;
  }

  .hlx-warn-chip {
    @include mat.chips-color($helix-theme, $color-variant: error);
    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #ffefd1;
    --mdc-chip-label-text-color: #402b00;
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 0.04;
  }

  .hlx-positive-chip {
    @include mat.chips-color($helix-theme, $color-variant: error);
    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #d2f7d6;
    --mdc-chip-label-text-color: #003600;
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 0.04;
  }

  .hlx-info-chip {
    @include mat.chips-color($helix-theme, $color-variant: error);
    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #d7e8f7;
    --mdc-chip-label-text-color: #031c40;
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 0.04;
  }

  .hlx-outlined-chip {
    @include mat.chips-color($helix-theme, $color-variant: error);
    --mdc-chip-outline-color: #babcbe;
    --mdc-chip-elevated-container-color: white;
    --mdc-chip-label-text-color: #2a2b2d;
  }

  .hlx-chip-small {
    @include mat.chips-density(-1);
  }

  .hlx-chip-xsmall {
    @include mat.chips-density(-2);
  }

  .hlx-button-toggle-container {
    padding: 4px;
    background-color: #f2f2f2;
    border: 1px solid #babcbe;
    width: fit-content;
    border-radius: 2px;
  }

  .hlx-button-toggle-invert {
    --mat-standard-button-toggle-selected-state-background-color: #ffffff;
    --mat-standard-button-toggle-selected-state-text-color: #2a2b2d;
    --mat-standard-button-toggle-hover-state-layer-opacity: 0.04;
    --mat-standard-button-toggle-state-layer-color: #000000;
  }

  .mat-label-xlarge {
    font-size: 16px;
  }

  .mat-body-xlarge {
    font-size: 16px;
  }

  .hlx-badge-primary {
    @include mat.badge-color($helix-theme, $color-variant: primary);
  }

  .hlx-badge-accent {
    @include mat.badge-color($helix-theme, $color-variant: tertiary);
  }

  .hlx-table {
    --mat-table-row-item-outline-color: #dfe1e2;
    th {
      font: mat.get-theme-typography($helix-theme, body-small, font);
      line-height: mat.get-theme-typography(
        $helix-theme,
        body-small,
        line-height
      );
      font-weight: mat.get-theme-typography(
        $helix-theme,
        headline-small,
        font-weight
      );
      background-color: #f2f2f2;
    }
    tr {
      font: mat.get-theme-typography($helix-theme, body-small, font);
      line-height: mat.get-theme-typography(
        $helix-theme,
        body-small,
        line-height
      );
      background-color: white;
    }
  }

  .hlx-elevation-sm {
    @include mat.elevation(3);
  }

  .hlx-elevation-md {
    @include mat.elevation(9);
  }

  .hlx-elevation-lg {
    @include mat.elevation(18);
  }

  $color-purple-600: #5e33bf;
  $color-purple-400: #b175e1;
  $color-neutral-0: #ffffff;
  $color-neutral-1000: #000000;
  $color-neutral-100: #f2f2f2;
  $color-neutral-200: #dfe1e2;
  $color-neutral-400: #babcbe;
  $color-neutral-600: #5f6368;
  $color-neutral-800: #2a2b2d;
  $color-red-500: #c43136;
  $color-red-900: #410b0d;
  $color-red-100: #fadcdc;
  $color-yellow-500: #ef9f00;
  $color-yellow-100: #ffefd1;
  $color-yellow-900: #402b00;
  $color-green-900: #003600;
  $color-green-500: #04800f;
  $color-green-100: #d2f7d6;
  $color-blue-100: #d7e8f7;
  $color-blue-500: #0c6ac1;
  $color-blue-900: #031c40;

  $colors: (
    primary: $color-neutral-800,
    secondary: $color-neutral-600,
    invert: $color-neutral-0,
    info: $color-blue-900,
    negative: $color-red-500,
    warn: $color-yellow-900,
    positive: $color-green-900,
    brand: $color-purple-400,
    accent: $color-purple-600,
    disabled: $color-neutral-400,
  );

  @each $key, $value in $colors {
    .hlx-icon-#{$key} {
      color: $value;
    }
  }
}
