/* stylelint-disable plugin/stylelint-bem-namics */
@use '@angular/material' as mat;
@use 'helix' as hlx;
@use 'typography' as typography;
@use 'variables/primitives' as primitives;
@use 'variables/tokens' as tokens;

@mixin theme-helix-overrides() {
  @include theme-helix-buttons;
  @include theme-helix-chips;
  @include theme-helix-icons;
  @include typography.theme-helix-typography;

  @include mat.fab-color(hlx.$helix-theme, $color-variant: secondary);

  $helix-default-round-shape: tokens.$border-radius-default;
  $helix-default-container-background: tokens.$surface-primary;

  --mdc-protected-button-container-shape: #{$helix-default-round-shape};
  --mdc-outlined-button-container-shape: #{$helix-default-round-shape};
  --mdc-filled-button-container-shape: #{$helix-default-round-shape};
  --mdc-text-button-container-shape: #{$helix-default-round-shape};
  --mdc-filled-text-field-container-shape: #{$helix-default-round-shape};
  --mdc-outlined-text-field-container-shape: #{$helix-default-round-shape};
  --mat-standard-button-toggle-shape: #{$helix-default-round-shape};
  --mat-standard-button-toggle-divider-color: transparent;
  --mdc-tab-indicator-active-indicator-height: 4px;
  --mdc-shape-small: 0;
  --mat-autocomplete-background-color: #{$helix-default-container-background};
  --mat-select-panel-background-color: #{$helix-default-container-background};
  --mat-datepicker-calendar-container-shape: #{$helix-default-round-shape};
  --mat-datepicker-calendar-container-background-color: #{$helix-default-container-background};
  --mat-menu-container-color: #{$helix-default-container-background};
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --mat-datepicker-calendar-container-elevation-shadow: 0 3px 1px -2px rgb(0 0 0 /
          20%),
    0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  --mat-divider-color: #{tokens.$surface-contrast};
  --mdc-linear-progress-track-color: #{tokens.$surface-contrast};
  --mdc-chip-container-shape-radius: 16px;
  --mdc-chip-outline-color: transparent;
  --mdc-fab-container-shape: 28px;
  --mdc-fab-small-container-shape: 28px;
  --mat-paginator-container-background-color: transparent;
  --mdc-plain-tooltip-container-color: #{primitives.$color-neutral-600};
  --mat-expansion-container-shape: #{$helix-default-round-shape};
  --mat-expansion-container-background-color: #{$helix-default-container-background};
  --mdc-elevated-card-container-shape: #{$helix-default-round-shape};
  --mdc-elevated-card-container-color: #{$helix-default-container-background};
  --mat-tree-container-background-color: #{$helix-default-container-background};
  --mdc-dialog-container-shape: #{$helix-default-round-shape};
  --mdc-dialog-container-color: #{$helix-default-container-background};
  --mat-stepper-header-focus-state-layer-shape: #{$helix-default-round-shape};
  --mat-stepper-header-hover-state-layer-shape: #{$helix-default-round-shape};
  --mat-sidenav-container-shape: #{$helix-default-round-shape};
  --mat-snack-bar-button-color: #{tokens.$text-invert};
  --mdc-outlined-text-field-outline-color: #{tokens.$components-text-input-outlined-enabled};
  --mdc-outlined-text-field-hover-outline-color: #{tokens.$components-text-input-outlined-hover};
  --mdc-outlined-text-field-focus-outline-color: #{tokens.$components-text-input-outlined-focused};

  @include mat.badge-color(hlx.$helix-theme, $color-variant: tertiary);

  .hlx-badge-primary {
    @include mat.badge-color(hlx.$helix-theme, $color-variant: primary);
  }

  .hlx-badge-accent {
    @include mat.badge-color(hlx.$helix-theme, $color-variant: tertiary);
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &[underline] {
      text-decoration: underline;
      text-decoration-skip-ink: auto;
      text-decoration-style: solid;
      text-underline-position: from-font;

      &:hover {
        text-decoration-thickness: 12%;
      }
    }
  }

  a .mdc-text-field {
    border-radius: 0 !important;

    --mdc-shape-small: 0;
  }

  [fitInkBarToContent] {
    --mdc-tab-indicator-active-indicator-shape: 2px 2px 0 0;
  }

  .hlx-slide-toggle-small {
    @include mat.slide-toggle-density(-2);

    --mdc-switch-track-height: 28px;
  }

  .hlx-input-small {
    @include mat.form-field-density(-3);
  }

  .hlx-input-x-small {
    @include mat.form-field-density(-4);
  }

  .hlx-button-toggle-container {
    --mat-standard-button-toggle-height: 30px;

    width: fit-content;
    height: fit-content;
    padding: 4px;
    border: 1px solid #babcbe;
    background-color: tokens.$surface-minimal;
    border-radius: $helix-default-round-shape;
  }

  .hlx-button-toggle-invert {
    --mat-standard-button-toggle-selected-state-background-color: #{tokens.$text-invert};
    --mat-standard-button-toggle-selected-state-text-color: #{tokens.$components-primary-filled};
    --mat-standard-button-toggle-hover-state-layer-opacity: 0.04;
    --mat-standard-button-toggle-state-layer-color: #{tokens.$components-primary-filled};
  }

  .mat-label-xlarge {
    font: mat.get-theme-typography(hlx.$helix-theme, label-large, font);
    font-size: 16px;
  }

  .mat-body-xlarge {
    font: mat.get-theme-typography(hlx.$helix-theme, body-large, font);
    font-size: 16px;
  }

  .mat-weight-regular {
    font-weight: 400;
  }

  .mat-weight-semi-bold {
    font-weight: 600;
  }

  .hlx-table {
    --mat-table-row-item-outline-color: #{tokens.$border-secondary};

    th {
      background-color: tokens.$surface-minimal;
      font: mat.get-theme-typography(hlx.$helix-theme, body-small, font);
      font-weight: mat.get-theme-typography(
        hlx.$helix-theme,
        headline-small,
        font-weight
      );
      line-height: mat.get-theme-typography(
        hlx.$helix-theme,
        body-small,
        line-height
      );
    }

    tr {
      background-color: white;
      font: mat.get-theme-typography(hlx.$helix-theme, body-small, font);
      line-height: mat.get-theme-typography(
        hlx.$helix-theme,
        body-small,
        line-height
      );
    }
  }

  .mat-mdc-tab {
    font: mat.get-theme-typography(hlx.$helix-theme, label-large, font);
  }

  .hlx-elevation-sm {
    @include mat.elevation(3);
  }

  .hlx-elevation-md {
    @include mat.elevation(9);
  }

  .hlx-elevation-lg {
    @include mat.elevation(18);
  }
}

@mixin theme-helix-buttons() {
  .hlx-btn-accent {
    @include mat.button-color(hlx.$helix-theme, $color-variant: tertiary);
    @include mat.fab-color(hlx.$helix-theme, $color-variant: tertiary);

    --mdc-outlined-button-outline-color: #{tokens.$components-accent-outline};
    --mdc-fab-container-color: #{primitives.$color-purple-600};
    --mat-fab-foreground-color: #{tokens.$text-invert};
    --mdc-fab-small-container-color: #{tokens.$components-accent-outline};
    --mat-fab-small-foreground-color: #{tokens.$text-invert};
  }

  .hlx-btn-negative {
    @include mat.button-color(hlx.$helix-error-theme);

    --mdc-outlined-button-outline-color: #{tokens.$components-negative-filled};
    --mdc-fab-container-color: #{tokens.$components-negative-filled};
    --mdc-fab-small-container-color: #{tokens.$components-negative-filled};
  }

  .hlx-btn-invert {
    @include mat.button-color(hlx.$helix-invert-theme, $color-variant: primary);

    --mdc-outlined-button-outline-color: #{tokens.$text-invert};
    --mdc-fab-container-color: #{tokens.$surface-primary};
    --mat-fab-foreground-color: #{tokens.$icon-primary};
    --mdc-fab-small-container-color: #{tokens.$surface-primary};
    --mat-fab-small-foreground-color: #{tokens.$icon-primary};
  }

  .hlx-btn-small {
    @include mat.button-density(-1);
  }

  .hlx-btn-xsmall {
    @include mat.button-density(-2);
  }

  .hlx-btn-xxsmall {
    @include mat.button-density(-3);
  }

  .hlx-btn-large {
    button.mdc-button {
      height: auto;
      padding: 18px 32px;
    }
  }
}

@mixin theme-helix-chips() {
  .hlx-neutral-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: secondary);
    @include hlx-chip-text-color(tokens.$text-primary);

    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #{tokens.$components-secondary-filled};
  }

  .hlx-primary-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: primary);
    @include hlx-chip-text-color(tokens.$text-invert);

    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #{tokens.$components-primary-filled};
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 1;
  }

  .hlx-accent-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: tertiary);
    @include hlx-chip-text-color(tokens.$text-invert);

    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #{tokens.$components-accent-filled};
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 0.16;
  }

  .hlx-negative-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: error);
    @include hlx-chip-text-color(primitives.$color-red-900);

    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #{tokens.$components-negative-filled-light};
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 0.04;
  }

  .hlx-warn-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: error);
    @include hlx-chip-text-color(tokens.$text-warn);

    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #{tokens.$components-warn-filled};
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 0.04;
  }

  .hlx-positive-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: error);
    @include hlx-chip-text-color(tokens.$text-positive);

    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #{tokens.$components-positive-filled};
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 0.04;
  }

  .hlx-info-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: error);
    @include hlx-chip-text-color(tokens.$text-info);

    --mdc-chip-outline-color: transparent;
    --mdc-chip-elevated-container-color: #{tokens.$components-info-filled};
    --mdc-chip-hover-state-layer-color: #000;
    --mdc-chip-hover-state-layer-opacity: 0.04;
  }

  .hlx-outlined-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: error);
    @include hlx-chip-text-color(tokens.$text-primary);

    --mdc-chip-outline-color: #{tokens.$components-primary-outline};
    --mdc-chip-elevated-container-color: white;
  }

  .hlx-chip-small {
    @include mat.chips-density(-1);
  }

  .hlx-chip-xsmall {
    @include mat.chips-density(-2);
  }
}

@mixin hlx-chip-text-color($color) {
  --mdc-chip-label-text-color: #{$color};
  --mdc-chip-with-icon-icon-color: #{$color};
  --mdc-chip-with-trailing-icon-trailing-icon-color: #{$color};
}

@mixin theme-helix-icons() {
  $colors: (
    primary: #{primitives.$color-neutral-800},
    secondary: #{primitives.$color-neutral-600},
    invert: #{primitives.$color-neutral-0},
    info: #{primitives.$color-blue-900},
    negative: #{primitives.$color-red-500},
    warn: #{primitives.$color-yellow-900},
    positive: #{primitives.$color-green-900},
    brand: #{primitives.$color-purple-400},
    accent: #{primitives.$color-purple-600},
    disabled: #{primitives.$color-neutral-400},
  );

  @each $key, $value in $colors {
    .hlx-icon-#{$key} {
      color: $value;
    }
  }
}
