/* stylelint-disable plugin/stylelint-bem-namics */
@use '@angular/material' as mat;
@use 'helix' as hlx;
@use 'typography' as typography;
@use 'variables/primitives' as primitives;
@use 'variables/tokens' as tokens;

@mixin theme-helix-overrides() {
  @include theme-helix-buttons;
  @include theme-helix-chips;
  @include theme-helix-icons;
  @include typography.theme-helix-typography;

  @include mat.fab-color(hlx.$helix-theme, $color-variant: secondary);

  $helix-default-round-shape: tokens.$border-radius-default;
  $helix-default-container-background: tokens.$surface-primary;

  --mat-button-protected-container-shape: #{$helix-default-round-shape};
  --mat-button-outlined-container-shape: #{$helix-default-round-shape};
  --mat-button-filled-container-shape: #{$helix-default-round-shape};
  --mat-button-text-container-shape: #{$helix-default-round-shape};
  --mat-form-field-filled-container-shape: #{$helix-default-round-shape};
  --mat-form-field-outlined-container-shape: #{$helix-default-round-shape};
  --mat-button-toggle-shape: #{$helix-default-round-shape};
  --mat-button-toggle-divider-color: transparent;
  --mat-tab-active-indicator-height: 4px;
  --mat-shape-small: 0;
  --mat-autocomplete-background-color: #{$helix-default-container-background};
  --mat-select-panel-background-color: #{$helix-default-container-background};
  --mat-datepicker-calendar-container-shape: #{$helix-default-round-shape};
  --mat-datepicker-calendar-container-background-color: #{$helix-default-container-background};
  --mat-menu-container-color: #{$helix-default-container-background};
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --mat-datepicker-calendar-container-elevation-shadow:
    0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  --mat-divider-color: #{tokens.$surface-contrast};
  --mat-progress-bar-track-color: #{tokens.$surface-contrast};
  --mat-chip-container-shape-radius: 16px;
  --mat-chip-outline-color: transparent;
  --mat-fab-container-shape: 28px;
  --mat-fab-small-container-shape: 28px;
  --mat-paginator-container-background-color: transparent;
  --mat-tooltip-container-color: #{primitives.$color-neutral-600};
  --mat-expansion-container-shape: #{$helix-default-round-shape};
  --mat-expansion-container-background-color: #{$helix-default-container-background};
  --mat-card-elevated-container-shape: #{$helix-default-round-shape};
  --mat-card-elevated-container-color: #{$helix-default-container-background};
  --mat-tree-container-background-color: #{$helix-default-container-background};
  --mat-dialog-container-shape: #{$helix-default-round-shape};
  --mat-dialog-container-color: #{$helix-default-container-background};
  --mat-stepper-header-focus-state-layer-shape: #{$helix-default-round-shape};
  --mat-stepper-header-hover-state-layer-shape: #{$helix-default-round-shape};
  --mat-sidenav-container-shape: #{$helix-default-round-shape};
  --mat-snack-bar-button-color: #{tokens.$text-invert};
  --mat-form-field-outlined-outline-color: #{tokens.$components-text-input-outlined-enabled};
  --mat-form-field-outlined-hover-outline-color: #{tokens.$components-text-input-outlined-hover};
  --mat-form-field-outlined-focus-outline-color: #{tokens.$components-text-input-outlined-focused};
  --mat-button-filled-state-layer-color: #{tokens.$components-button-hover-background} !important;
  --mat-button-filled-hover-state-layer-opacity: 1 !important;
  --mat-button-text-hover-state-layer-color: #{tokens.$components-button-hover-background} !important;
  --mat-button-text-hover-state-layer-opacity: 0.04 !important;

  @include mat.badge-color(hlx.$helix-theme, $color-variant: tertiary);

  .hlx-badge-primary {
    @include mat.badge-color(hlx.$helix-theme, $color-variant: primary);
  }

  .hlx-badge-accent {
    @include mat.badge-color(hlx.$helix-theme, $color-variant: tertiary);
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &[underline] {
      text-decoration: underline;
      text-decoration-skip-ink: auto;
      text-decoration-style: solid;
      text-underline-position: from-font;

      &:hover {
        text-decoration-thickness: 12%;
      }
    }
  }

  a .mdc-text-field {
    border-radius: 0 !important;

    --mat-shape-small: 0;
  }

  [fitInkBarToContent] {
    --mat-tab-active-indicator-shape: 2px 2px 0 0;
  }

  .hlx-slide-toggle-small {
    @include mat.slide-toggle-density(-2);

    --mat-slide-toggle-track-height: 28px;
  }

  .hlx-input-small {
    @include mat.form-field-density(-3);
  }

  .hlx-input-x-small {
    @include mat.form-field-density(-4);
  }

  .hlx-button-toggle-container {
    --mat-button-toggle-height: 30px;

    width: fit-content;
    height: fit-content;
    padding: 4px;
    border: 1px solid #babcbe;
    border-radius: $helix-default-round-shape;
    background-color: tokens.$surface-minimal;
  }

  .hlx-button-toggle-invert {
    --mat-button-toggle-selected-state-background-color: #{tokens.$text-invert};
    --mat-button-toggle-selected-state-text-color: #{tokens.$components-primary-filled};
    --mat-button-toggle-hover-state-layer-opacity: 0.04;
    --mat-button-toggle-state-layer-color: #{tokens.$components-primary-filled};
  }

  .mat-label-xlarge {
    font: mat.get-theme-typography(hlx.$helix-theme, label-large, font);
    font-size: 16px;
  }

  .mat-body-xlarge {
    font: mat.get-theme-typography(hlx.$helix-theme, body-large, font);
    font-size: 16px;
  }

  .mat-weight-regular {
    font-weight: 400;
  }

  .mat-weight-semi-bold {
    font-weight: 600;
  }

  .hlx-table {
    --mat-table-row-item-outline-color: #{tokens.$border-secondary};

    th {
      background-color: tokens.$surface-minimal;
      font: mat.get-theme-typography(hlx.$helix-theme, body-small, font);
      font-weight: mat.get-theme-typography(
        hlx.$helix-theme,
        headline-small,
        font-weight
      );
      line-height: mat.get-theme-typography(
        hlx.$helix-theme,
        body-small,
        line-height
      );
    }

    tr {
      background-color: white;
      font: mat.get-theme-typography(hlx.$helix-theme, body-small, font);
      line-height: mat.get-theme-typography(
        hlx.$helix-theme,
        body-small,
        line-height
      );
    }
  }

  .mat-mdc-tab {
    font: mat.get-theme-typography(hlx.$helix-theme, label-large, font);
  }

  .hlx-elevation-sm {
    @include mat.elevation(3);
  }

  .hlx-elevation-md {
    @include mat.elevation(9);
  }

  .hlx-elevation-lg {
    @include mat.elevation(18);
  }

  .mdc-switch--unselected .mdc-switch__icon--off {
    opacity: 0;
  }

  .mdc-switch__icons {
    position: relative;
  }

  .mdc-switch--unselected .mdc-switch__icons::before {
    content: '';
    position: absolute;
    inset: 0;

    background-color: #f2f2f2;

    -webkit-mask-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'>\
<path d='\
M7.335 6.8 \
L12 11.465 \
L16.665 6.8 \
L17.2 7.335 \
L12.535 12 \
L17.2 16.665 \
L16.665 17.2 \
L12 12.535 \
L7.335 17.2 \
L6.8 16.665 \
L11.465 12 \
L6.8 7.335 \
Z'/>\
</svg>");

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'>\
<path d='\
M7.335 6.8 \
L12 11.465 \
L16.665 6.8 \
L17.2 7.335 \
L12.535 12 \
L17.2 16.665 \
L16.665 17.2 \
L12 12.535 \
L7.335 17.2 \
L6.8 16.665 \
L11.465 12 \
L6.8 7.335 \
Z'/>\
</svg>");
  }
}

@mixin theme-helix-buttons() {
  .hlx-btn-accent {
    @include mat.button-color(hlx.$helix-theme, $color-variant: tertiary);
    @include mat.fab-color(hlx.$helix-theme, $color-variant: tertiary);
    @include mat.button-overrides(
      (
        outlined-outline-color: #{tokens.$components-accent-outline},
        filled-state-layer-color: #{tokens.$components-button-hover-background},
        filled-hover-state-layer-opacity: 0.16,
        text-state-layer-color: #{tokens.$components-accent-filled},
        text-hover-state-layer-opacity: 0.04,
        outlined-state-layer-color: #{tokens.$components-accent-filled},
        outlined-hover-state-layer-opacity: 0.04,
      )
    );

    @include mat.button-overrides(
      (
        outlined-outline-color: #{tokens.$components-accent-outline},
        filled-state-layer-color: #{tokens.$components-button-hover-background},
        filled-hover-state-layer-opacity: 0.16,
        text-state-layer-color: #{tokens.$components-accent-filled},
        text-hover-state-layer-opacity: 0.04,
        outlined-state-layer-color: #{tokens.$components-accent-filled},
        outlined-hover-state-layer-opacity: 0.04,
      )
    );

    @include mat.fab-overrides(
      (
        container-color: #{primitives.$color-purple-600},
        foreground-color: #{tokens.$text-invert},
        small-container-color: #{tokens.$components-accent-outline},
        small-foreground-color: #{tokens.$text-invert},
      )
    );
  }

  .hlx-btn-negative {
    @include mat.button-color(hlx.$helix-error-theme);
    @include mat.fab-color(hlx.$helix-error-theme);

    @include mat.button-overrides(
      (
        outlined-outline-color: #{tokens.$components-negative-filled},
        filled-state-layer-color: #{tokens.$components-button-hover-background},
        filled-hover-state-layer-opacity: 0.04,
        text-state-layer-color: #{tokens.$text-negative},
        text-hover-state-layer-opacity: 0.16,
        outlined-state-layer-color: #{tokens.$text-negative},
        outlined-hover-state-layer-opacity: 0.16,
      )
    );

    @include mat.fab-overrides(
      (
        container-color: #{tokens.$components-negative-filled},
        small-container-color: #{tokens.$components-negative-filled},
      )
    );
  }

  .hlx-btn-invert {
    @include mat.button-color(hlx.$helix-invert-theme, $color-variant: primary);
    @include mat.fab-color(hlx.$helix-invert-theme, $color-variant: primary);

    @include mat.button-overrides(
      (
        outlined-outline-color: #{tokens.$text-invert},
        filled-state-layer-color: #{tokens.$components-button-hover-background},
        filled-hover-state-layer-opacity: 0.04,
      )
    );

    @include mat.fab-overrides(
      (
        container-color: #{tokens.$surface-primary},
        foreground-color: #{tokens.$icon-primary},
        small-container-color: #{tokens.$surface-primary},
        small-foreground-color: #{tokens.$icon-primary},
      )
    );
  }

  .hlx-tab-invert {
    @include mat.tabs-color(hlx.$helix-invert-theme, $color-variant: primary);

    --mat-tab-header-background-color: #{tokens.$surface-invert};
    --mat-tab-label-text-color: #{tokens.$text-invert};
    --mat-tab-active-label-text-color: #{tokens.$text-invert};
    --mat-tab-active-focus-label-text-color: #{tokens.$text-invert};
    --mat-tab-active-hover-label-text-color: #{tokens.$text-invert};
    --mat-tab-inactive-label-text-color: #{tokens.$text-invert};
    --mat-tab-inactive-focus-label-text-color: #{tokens.$text-invert};
    --mat-tab-inactive-hover-label-text-color: #{tokens.$text-invert};
    --mat-tab-active-indicator-color: #{tokens.$text-invert};
    --mat-tab-active-focus-indicator-color: #{tokens.$text-invert};
    --mat-tab-active-hover-indicator-color: #{tokens.$text-invert};
  }

  .hlx-btn-small {
    @include mat.button-density(-1);
  }

  .hlx-btn-xsmall {
    @include mat.button-density(-2);
  }

  .hlx-btn-xxsmall {
    @include mat.button-density(-3);
  }

  .hlx-btn-large {
    button.mdc-button {
      height: 56px;
      padding: 18px 32px;
    }
  }
}

@mixin theme-helix-chips() {
  .hlx-neutral-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: secondary);
    @include hlx-chip-text-color(tokens.$text-primary);

    @include mat.chips-overrides(
      (
        outline-color: transparent,
        elevated-container-color: #{tokens.$components-secondary-filled},
      )
    );
  }

  .hlx-primary-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: primary);
    @include hlx-chip-text-color(tokens.$text-invert);

    @include mat.chips-overrides(
      (
        outline-color: transparent,
        elevated-container-color: #{tokens.$components-primary-filled},
        hover-state-layer-color: #000,
        hover-state-layer-opacity: 1,
      )
    );
  }

  .hlx-accent-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: tertiary);
    @include hlx-chip-text-color(tokens.$text-invert);

    @include mat.chips-overrides(
      (
        outline-color: transparent,
        elevated-container-color: #{tokens.$components-accent-filled},
        hover-state-layer-color: #000,
        hover-state-layer-opacity: 0.16,
      )
    );
  }

  .hlx-negative-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: error);
    @include hlx-chip-text-color(primitives.$color-red-900);

    @include mat.chips-overrides(
      (
        outline-color: transparent,
        elevated-container-color: #{tokens.$components-negative-filled-light},
        hover-state-layer-color: #000,
        hover-state-layer-opacity: 0.04,
      )
    );
  }

  .hlx-warn-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: error);
    @include hlx-chip-text-color(tokens.$text-warn);

    @include mat.chips-overrides(
      (
        outline-color: transparent,
        elevated-container-color: #{tokens.$components-warn-filled},
        hover-state-layer-color: #000,
        hover-state-layer-opacity: 0.04,
      )
    );
  }

  .hlx-positive-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: error);
    @include hlx-chip-text-color(tokens.$text-positive);

    @include mat.chips-overrides(
      (
        outline-color: transparent,
        elevated-container-color: #{tokens.$components-positive-filled},
        hover-state-layer-color: #000,
        hover-state-layer-opacity: 0.04,
      )
    );
  }

  .hlx-info-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: error);
    @include hlx-chip-text-color(tokens.$text-info);

    @include mat.chips-overrides(
      (
        outline-color: transparent,
        elevated-container-color: #{tokens.$components-info-filled},
        hover-state-layer-color: #000,
        hover-state-layer-opacity: 0.04,
      )
    );
  }

  .hlx-outlined-chip {
    @include mat.chips-color(hlx.$helix-theme, $color-variant: error);
    @include hlx-chip-text-color(tokens.$text-primary);

    @include mat.chips-overrides(
      (
        outline-color: #{tokens.$components-primary-outline},
        elevated-container-color: white,
      )
    );
  }

  .hlx-chip-small {
    @include mat.chips-density(-1);
  }

  .hlx-chip-xsmall {
    @include mat.chips-density(-2);
  }
}

@mixin hlx-chip-text-color($color) {
  @include mat.chips-overrides(
    (
      label-text-color: #{$color},
      with-icon-icon-color: #{$color},
      with-trailing-icon-trailing-icon-color: #{$color},
    )
  );
}

@mixin theme-helix-icons() {
  $hlx-icon-colors: (
    primary: primitives.$color-neutral-800,
    secondary: primitives.$color-neutral-600,
    invert: primitives.$color-neutral-0,
    info: primitives.$color-blue-900,
    negative: primitives.$color-red-500,
    warn: primitives.$color-yellow-900,
    positive: primitives.$color-green-900,
    brand: primitives.$color-purple-400,
    accent: primitives.$color-purple-600,
    disabled: primitives.$color-neutral-400,
  );

  @each $name, $color in $hlx-icon-colors {
    .hlx-icon-#{$name} {
      color: #{$color};
    }
  }
}
