@use 'sass:map';

$palettes: (
  primary: (
    0: #0f1011,
    10: #191a1c,
    20: #1f2022,
    25: #1f2022,
    30: #252628,
    35: #252628,
    40: #2a2b2d,
    50: #4a4b4d,
    60: #6a6b6c,
    70: #959596,
    80: #bfbfc0,
    90: #e5e6e6,
    95: #f2f2f2,
    98: #f8f8f8,
    99: #fcfcfc,
    100: #fff,
  ),
  secondary: (
    0: #fff,
    10: #fff,
    20: #fff,
    25: #fff,
    30: #fff,
    35: #fff,
    40: #fff,
    50: #6a6b6c,
    60: #4a4b4d,
    70: #2a2b2d,
    80: #252628,
    90: #252628,
    95: #1f2022,
    98: #1f2022,
    99: #191a1c,
    100: #0f1011,
  ),
  tertiary: (
    0: #000,
    10: #22005d,
    20: #3a0092,
    25: #460da7,
    30: #5223b3,
    35: #5e33bf,
    40: #6a41cc,
    50: #845de7,
    60: #9e79ff,
    70: #b69bff,
    80: #cfbcff,
    90: #e9ddff,
    95: #e9ddff,
    98: #fdf7ff,
    99: #fffbff,
    100: #fff,
  ),
  neutral: (
    0: #000,
    4: #0d0d0d,
    6: #171717,
    10: #2a2b2d,
    12: #262626,
    17: #2e2e2e,
    20: #363636,
    22: #3b3b3b,
    24: #404040,
    25: #404040,
    30: #4d4d4d,
    40: #666,
    50: #808080,
    60: #999,
    70: #b3b3b3,
    80: #cfcfcf,
    87: #dedede,
    90: #e6e6e6,
    92: #ebebeb,
    94: #f0f0f0,
    95: #f2f2f2,
    96: #f5f5f5,
    98: #fafafa,
    99: #fcfcfc,
    100: #fff,
  ),
  neutral-variant: (
    0: #000,
    10: #222,
    20: #373737,
    25: #373737,
    30: #4f4f4f,
    35: #4f4f4f,
    40: #666,
    50: #7e7e7e,
    60: #999,
    70: #b4b4b4,
    80: #d0d0d0,
    90: #dfe1e2,
    95: #fafafa,
    98: #fcfcfc,
    99: #fcfcfc,
    100: #fff,
  ),
  error: (
    0: #000,
    10: #410b0d,
    20: #631618,
    25: #631618,
    30: #962428,
    35: #962428,
    40: #c43136,
    50: #de3e43,
    60: #e56367,
    70: #ed8e91,
    80: #f2c2c2,
    90: #fadcdc,
    95: #ffeded,
    98: #fffafa,
    99: #fffafa,
    100: #fff,
  ),
);
$rest: (
  secondary: map.get($palettes, secondary),
  neutral: map.get($palettes, neutral),
  neutral-variant: map.get($palettes, neutral-variant),
  error: map.get($palettes, error),
);
$primary: map.merge(map.get($palettes, primary), $rest);
$secondary: map.merge(map.get($palettes, secondary), $rest);
$tertiary: map.merge(map.get($palettes, tertiary), $rest);
$error: map.merge(map.get($palettes, error), $rest);
