mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  height: 220px;
  padding: 2rem;
  background-color: white;

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .text {
  }

  .button {
    color: #5e33bf;
  }
}
