@use '../colors';
@use 'ag-grid-community/styles' as ag;

@include ag.grid-styles(
  (
    theme: ag-theme-cdx,
    extend-theme: material,
  )
);
.ag-theme-cdx {
  --ag-material-primary-color: #{colors.$primary-500};
  --ag-material-accent-color: #{colors.$accent-500};
  --ag-row-hover-color: #{rgba(colors.$primary-500, 0.05)};
  --ag-selected-row-background-color: #{rgba(colors.$primary-500, 0.1)};
  --ag-range-selection-background-color: #{rgba(colors.$primary-500, 0.1)};
  --ag-value-change-delta-up-color: #128902;
  --ag-value-change-delta-down-color: #f89324;
  --ag-header-background-color: #fafafa;
  --ag-header-foreground-color: #212121;
  --ag-subheader-background-color: #f5f5f5;
  --ag-font-family: 'Source Sans Pro', sans-serif;

  // Ensure custom checkbox color
  .ag-checkbox-input-wrapper.ag-checked::after {
    color: #{colors.$primary-500};
  }
}
