@use '../colors';

.ag-theme-cdx {
  --ag-theme-alpine-primary-color: #{colors.$primary-500};
  --ag-theme-alpine-accent-color: #{colors.$accent-500};
  --ag-row-hover-color: #{rgba(colors.$primary-500, 0.05)};
  --ag-selected-row-background-color: #{rgba(colors.$primary-500, 0.1)};
  --ag-range-selection-background-color: #{rgba(colors.$primary-500, 0.1)};
  --ag-value-change-delta-up-color: #128902;
  --ag-value-change-delta-down-color: #f89324;
  --ag-header-background-color: #fafafa;
  --ag-header-foreground-color: #212121;
  --ag-subheader-background-color: #f5f5f5;
  --ag-font-family: 'Source Sans Pro', sans-serif;

  // Ensure custom checkbox color
  .ag-checkbox-input-wrapper.ag-checked::after {
    color: #{colors.$primary-500};
  }
}
