@use 'typography';
@use '@angular/material' as mat;

$surface-container-highest: #e6e6e6;
$primary-color: #5e33bf;
$elevation-2: 5px 5px 10px 0 #a6abbd66;

@mixin theme-avalon-overrides() {
  @include theme-avalon-general-overrides;
  @include theme-avalon-color-overrides;
}

@mixin theme-avalon-general-overrides() {
  @include theme-avalon-typography-levels;
  @include theme-avalon-buttons;

  --mdc-protected-button-container-shape: 8px;
  --mdc-outlined-button-container-shape: 8px;
  --mdc-filled-button-container-shape: 8px;
  --mdc-text-button-container-shape: 8px;
  --mdc-chip-container-shape-radius: 999px;
  --mdc-filled-text-field-container-shape: 4px;
  --mdc-dialog-container-shape: 12px;
  --mat-option-selected-state-layer-color: #e6e6e6;
  --mdc-elevated-card-container-elevation: 5px 5px 10px 0 #a6abbd66;
  --mdc-elevated-card-container-color: #fff;
  --mat-dialog-container-elevation-shadow: $elevation2;
  --mat-select-panel-background-color: #e6e6e6;
  --mat-datepicker-calendar-container-background-color: #f5f5f5;
  --mat-datepicker-calendar-container-text-color: #7e7e7e;
  --mat-datepicker-calendar-container-elevation-shadow: 5px 5px 10px 0 #a6abbd66;
  --mdc-slider-inactive-track-color: #e0ccff;
  --mdc-filled-button-container-height: auto;
  --mat-stepper-header-icon-background-color: rgb(33 33 33 / 10%);
  --mat-stepper-header-done-state-icon-background-color: #04800f;
  --mat-stepper-header-done-state-icon-foreground-color: #fff;
  --mat-stepper-header-selected-state-icon-background-color: #5e33bf;
  --mat-stepper-header-icon-foreground-color: #4f4f4f;
  --mat-dialog-headline-padding: 0;
  --mat-dialog-with-actions-content-padding: 20px 0 0;
  --mat-divider-color: rgb(208 208 208 / 100%);

  .mat-pseudo-checkbox {
    --mat-option-selected-state-label-text-color: #5e33bf;
  }

  .mat-mdc-card-content,
  .mat-mdc-card-actions,
  .mat-mdc-dialog-surface {
    padding: 24px;
  }

  .ava-badge-info {
    --mat-badge-background-color: #5e33bf;
  }

  .ava-checkbox-error {
    @include mat.checkbox-theme($avalon-error-theme);
  }

  .mdc-tab {
    color: var(--mdc-theme-on-surface-variant, #4f4f4f);
    font: mat.get-theme-typography($avalon-light-theme, label-large, font);

    &.mdc-tab--active {
      color: var(--mdc-theme-on-surface, #212121);
      font-weight: 700;
    }
  }

  .mat-mdc-card-header {
    font: mat.get-theme-typography($avalon-light-theme, headline-small, font);
  }

  .mat-mdc-card-subtitle,
  .mat-mdc-dialog-title {
    font: mat.get-theme-typography($avalon-light-theme, body-large, font);
  }

  .ava-dialog-simple {
    .mat-mdc-dialog-title {
      font: mat.get-theme-typography($avalon-light-theme, title-large, font);
    }
    @include mat.button-color($avalon-secondary-theme);
  }
}

@mixin theme-avalon-buttons() {
  .ava-btn-secondary {
    @include mat.button-color($avalon-secondary-theme);
    @include mat.fab-color($avalon-secondary-theme);

    --mdc-protected-button-container-shape: 8px;
    --mdc-outlined-button-container-shape: 8px;
    --mdc-filled-button-container-shape: 8px;
    --mdc-text-button-container-shape: 8px;
  }

  .ava-btn-tertiary {
    @include mat.button-color($avalon-tertiary-theme);
    @include mat.fab-color($avalon-tertiary-theme);

    --mdc-protected-button-container-shape: 8px;
    --mdc-outlined-button-container-shape: 8px;
    --mdc-filled-button-container-shape: 8px;
    --mdc-text-button-container-shape: 8px;
  }

  .ava-btn-error {
    @include mat.button-color($avalon-error-theme);
    @include mat.fab-color($avalon-error-theme);

    --mdc-protected-button-container-shape: 8px;
    --mdc-outlined-button-container-shape: 8px;
    --mdc-filled-button-container-shape: 8px;
    --mdc-text-button-container-shape: 8px;
  }

  .ava-btn-success {
    @include mat.button-color($avalon-success-theme);
    @include mat.fab-color($avalon-success-theme);

    --mdc-protected-button-container-shape: 8px;
    --mdc-outlined-button-container-shape: 8px;
    --mdc-filled-button-container-shape: 8px;
    --mdc-text-button-container-shape: 8px;
  }

  .mdc-button {
    padding: 10px 20px;
    font: mat.get-theme-typography($avalon-light-theme, label-large, font);
  }

  .ava-btn-small {
    padding: 10px 16px;
    font: mat.get-theme-typography($avalon-light-theme, label-medium, font);
  }

  .ava-btn-large {
    padding: 10px 24px;
    font: mat.get-theme-typography($avalon-light-theme, title-small, font);
    font-weight: 700;
  }

  .ava-btn-promotional {
    padding: 10px 32px;
    font: mat.get-theme-typography($avalon-light-theme, title-medium, font);
  }
}
