@mixin theme-avalon-typography-levels {
  --sys-display-large: 700 48px / 60px 'Clarivate Regular, sans-serif';
  --sys-display-large-tracking: normal;
  --sys-display-medium: 700 40px / 48px 'Clarivate Regular, sans-serif';
  --sys-display-medium-tracking: normal;
  --sys-display-small: 700 32px / 40px 'Clarivate Regular, sans-serif';
  --sys-display-small-tracking: normal;
  --sys-headline-large: 700 32px / 40px 'Clarivate Regular, sans-serif';
  --sys-headline-large-tracking: -0.25px;
  --sys-headline-medium: 700 28px / 36px 'Clarivate Regular, sans-serif';
  --sys-headline-medium-tracking: normal;
  --sys-headline-small: 700 24px / 32px 'Clarivate Regular, sans-serif';
  --sys-headline-small-tracking: normal;
  --sys-title-large: 600 22px / 28px 'Source Sans 3, sans-serif';
  --sys-title-large-tracking: 0.0012em;
  --sys-title-medium: 600 18px / 28px 'Source Sans 3, sans-serif';
  --sys-title-medium-tracking: 0.15px;
  --sys-title-small: 700 16px / 24px 'Source Sans 3, sans-serif';
  --sys-title-small-tracking: 0.0012em;
  --sys-label-large: 400 14px / 20px 'Source Sans 3, sans-serif';
  --sys-label-large-tracking: 0.0012em;
  --sys-label-medium: 400 12px / 16px 'Source Sans 3, sans-serif';
  --sys-label-medium-tracking: 0.0012em;
  --sys-label-small: 400 11px / 16px 'Source Sans 3, sans-serif';
  --sys-label-small-tracking: 0.0012em;
  --sys-body-large: 400 16px / 24px 'Source Sans 3, sans-serif';
  --sys-body-large-tracking: 0.0012em;
  --sys-body-medium: 400 14px / 20px 'Source Sans 3, sans-serif';
  --sys-body-medium-tracking: 0.0012em;
  --sys-body-small: 400 12px / 16px 'Source Sans 3, sans-serif';
  --sys-body-small-tracking: 0.0012em;
}
