@use '@angular/material' as mat;
@import 'colors';
@import 'typography';
@import 'overrides';

$avalon-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      use-system-variables: true,
    ),
  )
);
$avalon-secondary-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_secondary,
      tertiary: $_tertiary,
    ),
    typography: (
      use-system-variables: true,
    ),
  )
);
$avalon-tertiary-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_tertiary,
      tertiary: $_primary,
    ),
    typography: (
      use-system-variables: true,
    ),
  )
);
$avalon-error-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_error,
      tertiary: $_tertiary,
    ),
    typography: (
      use-system-variables: true,
    ),
  )
);
$avalon-success-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_success,
      tertiary: $_tertiary,
    ),
    typography: (
      use-system-variables: true,
    ),
  )
);
$avalon-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
  )
);
