@use '../theme-material-components-web';
@use '@angular/material' as mat;

$border-radius: 4px;

.cdx-expansion-panel {
  @include mat.typography-level($typography-config, body-1);

  details {
    @include mat.elevation(2);

    position: relative;
    background-color: white;
    transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);

    &:first-of-type {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-of-type {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    p {
      display: inline-block;
      margin: 1rem 1.5rem;
    }

    summary {
      @include mat.typography-level($typography-config, body-2);

      display: flex;
      height: 48px;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.5rem;
      border-bottom: 1px solid #f5f5f5;
      background-color: transparent;
      cursor: pointer;
      list-style: none;

      &:hover {
        background-color: #f5f5f5;
      }

      &::after {
        width: 6px;
        height: 6px;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #7b7b7b;
        content: '';
        font-size: 2rem;
        transform: rotate(45deg);
      }
    }
  }

  details[open] {
    margin: 1rem 0;
    border-radius: $border-radius;

    &:first-of-type {
      margin: 0 0 1rem;
      border-radius: $border-radius;
    }
  }

  details[open] summary {
    &:hover {
      background-color: transparent;
    }

    &::after {
      transform: rotate(225deg);
    }
  }
}
