:host {
  .migration-box {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .migration-code {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-top: 1rem;
    gap: 2rem;
  }

  .verify-migration {
    margin-bottom: 3rem;
  }
}
