:host {
  .nav-container {
    display: flex;
    flex-direction: column;
    width: 16rem;

    button {
      border-left: solid 3px transparent;
      border-radius: 0;
      justify-content: start;
      padding-left: 1.5rem;
      height: 3rem;

      &.active {
        border-left-color: var(--mat-primary);
      }
    }
  }
}
