@use '@cdx/theme-angular-material' as hlx;

.component-table {
  width: 100%;
  border-collapse: collapse;
  margin-block: 16px;

  th,
  td {
    padding: 8px 16px;
    border-bottom: 1px solid hlx.$surface-contrast;
    text-align: start;
    vertical-align: top;
  }

  thead th {
    font-weight: 600;
  }

  th[scope='row'] {
    font-weight: normal;
    white-space: nowrap;
  }
}
