.best-practice {
  margin: 0 auto 1rem;
  max-width: 760px;
  width: 100%;

  img {
    margin-top: 1rem;
  }

  &__header {
    align-items: center;
    border-top: 4px solid;
    -webkit-column-gap: 0.5rem;
    column-gap: 0.5rem;
    display: flex;
    font-weight: 600;
    padding: 0.5rem 0 1rem;

    &.do {
      border-color: #008827;
      color: #008827;
    }
  }
}
