/* stylelint-disable plugin/stylelint-bem-namics */
@use '@angular/material' as mat;
@use '@cdx/theme-angular-material' as cdx;
@use '@cdx/ngx-branding/header/theme' as header;
@use '@cdx/ngx-branding/footer/theme' as footer;

@include cdx.default;
@include header.theme(cdx.$light-theme);
@include footer.theme(cdx.$light-theme);

@include cdx.default(cdx.$helix-theme, 'helix-theme-material');

.helix-theme-material {
  @include cdx.theme-helix-overrides;
}

@include cdx.default(cdx.$innography-light-theme, 'innography-theme-material');

.innography-theme-material {
  @include cdx.theme-innography-overrides;
}

@include cdx.default(cdx.$avalon-light-theme, 'avalon-theme-material');

.avalon-theme-material {
  @include cdx.theme-avalon-overrides;
}

@include cdx.default(cdx.$derwent-light-theme, 'derwent-theme-material');

.derwent-theme-material {
  @include cdx.theme-derwent-overrides;
}

:root {
  --light-text: rgba(#000, 0.87);
  --light-background: #fff;
  --dark-text: white;
  --dark-background: #181d1f;
}

html,
body {
  padding: 0;
  margin: 0;
}

html[dir='rtl'],
body[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

body {
  background-color: var(--light-background);
  color: var(--light-text);
}

/*
 * Example apply dark theme based on system settings
@media (prefers-color-scheme: dark) {
  body {
    color: var(--dark-text);
    background-color: var(--dark-background);
    @include cdx.theme(cdx.$cdx-dark-theme);
  }
} */
