/* stylelint-disable plugin/stylelint-bem-namics */
@use '@angular/material' as mat;
@use '@cdx/theme-angular-material' as hlx;
@use '@cdx/ngx-branding/header/theme' as header;
@use '@cdx/ngx-branding/footer/theme' as footer;

@include hlx.default;
@include header.theme(hlx.$light-theme);
@include footer.theme(hlx.$light-theme);

@include hlx.default(hlx.$helix-theme, 'helix-theme-material');

.helix-theme-material {
  @include hlx.theme-helix-overrides;
}

:root {
  --light-text: rgba(#000, 0.87);
  --light-background: #fff;
  --dark-text: white;
  --dark-background: #181d1f;
}

html,
body {
  padding: 0;
  margin: 0;
}

html[dir='rtl'],
body[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

body {
  background-color: var(--light-background);
  color: var(--light-text);
}
