.mat-mdc-form-field {
  display: none;
}

.mat-mdc-menu-trigger {
  margin-bottom: 0.25rem;
}

.cdx-circle {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  &--purple,
  &--purple-legacy {
    background-color: #5e33bf;
  }

  &--teal-legacy {
    background-color: #006c7b;
  }

  &--blue-legacy {
    background-color: #035887;
  }

  &--helix,
  &--helix-legacy {
    background-color: #000000;
    box-shadow: 0 0 0 0.0625rem rgba(255, 255, 255, 0.8);
  }

  &--avalon {
    background-color: #5e33bf;
  }

  &--innography {
    background-color: #1f394d;
    box-shadow: 0 0 0 0.0625rem rgb(255 255 255 / 80%);
  }

  &--derwent {
    background-color: #006659;
    box-shadow: 0 0 0 0.0625rem rgb(255 255 255 / 80%);
  }

  &--custom {
    background-color: #4caf50;
  }
}

.cdx-circle-dark.cdx-circle {
  &--purple,
  &--you {
    background-color: #ba84ff;
  }

  &--teal {
    background-color: #a2ec8e;
  }

  &--blue {
    background-color: #1ea5fc;
  }

  &--custom {
    background-color: #4caf50;
  }
}
