@use '@angular/material' as mat;

// @use '@cdx/theme-angular-material' as cdx;

.cdx-section {
  padding: 6rem 0;
  background-color: rgb(229 231 235 / 30%);
  text-align: center;

  > * {
    margin-top: 2rem;
  }

  &:nth-child(even) {
    background-color: inherit;
  }

  &--search {
    .mdc-button {
      display: none;
    }

    mat-form-field {
      width: 400px;
    }

    .mat-mdc-form-field {
      display: inline-flex;
    }
    @media (max-width: 920px) {
      .mdc-button {
        display: inline-flex;
      }
    }
  }

  &--contact-form {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    form {
      display: grid;
      width: 100%;
      max-width: 400px;
      grid-template-columns: 1fr;
      row-gap: 1rem;
    }

    mat-form-field,
    textarea {
      width: 100%;
    }

    mat-slide-toggle {
      justify-self: start;
    }

    mat-checkbox {
      justify-self: start;
    }

    mat-radio-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }

  &--title {
    padding-top: 8rem;
  }

  &__hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  &__features {
    display: flex;
    justify-content: center;
    gap: 4rem;

    .mat-body-1 {
      max-width: 20rem;
      padding-top: 2rem;
    }

    mat-icon {
      width: 60px;
      height: 60px;
      font-size: 60px;
    }
  }
}
