.selected {
  cursor: default;
  pointer-events: none;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.list-item {
  .MuiListItemIcon-root {
    min-width: 30px !important;
  }
}
