/* stylelint-disable scss/no-global-function-names */
/* stylelint-disable scss/dollar-variable-pattern */
@use 'sass:map';
@use '@angular/material' as mat;

$SurfaceContainerHighest: #e6e6e6;
$primaryColor: #5e33bf;
$elevation2: 5px 5px 10px 0 #a6abbd66;
$_palettes: (
  primary: (
    0: #000,
    10: #210452,
    20: #35127a,
    25: #351399,
    30: #451f99,
    35: #451f99,
    40: #5e33bf,
    50: #7548db,
    60: #9163f7,
    70: #a378ff,
    80: #c0a1ff,
    90: #e0ccff,
    95: #f6edff,
    98: #fdfafe,
    99: #fdfaff,
    100: #fff,
  ),
  secondary: (
    0: #000,
    10: #0f1014,
    20: #212129,
    25: #044600,
    30: #2f303b,
    35: #2f303f,
    40: #41424f,
    50: #585969,
    60: #717385,
    70: #8b8d9e,
    80: #a8a9ba,
    90: #c2c4d1,
    95: #e6e7f0,
    98: #fafbff,
    99: #fafbff,
    100: #fff,
  ),
  tertiary: (
    0: #000,
    10: #292b17,
    20: #40422b,
    25: #53573e,
    30: #53573e,
    35: #a11d00,
    40: #6b7053,
    50: #868c69,
    60: #9fa67e,
    70: #bac295,
    80: #d1d6a7,
    90: #e3e8ba,
    95: #f5f7d7,
    98: #fafaf5,
    99: #fafaf5,
    100: #fff,
  ),
  neutral: (
    0: #000,
    4: #0d0d0d,
    6: #171717,
    10: #212121,
    12: #262626,
    17: #2e2e2e,
    20: #363636,
    22: #3b3b3b,
    24: #404040,
    25: #404040,
    30: #4d4d4d,
    40: #666,
    50: #808080,
    60: #999,
    70: #b3b3b3,
    80: #cfcfcf,
    87: #dedede,
    90: #e6e6e6,
    92: #ebebeb,
    94: #f0f0f0,
    95: #f2f2f2,
    96: #f5f5f5,
    98: #fafafa,
    99: #fcfcfc,
    100: #fff,
  ),
  neutral-variant: (
    0: #000,
    10: #222,
    20: #373737,
    25: #373737,
    30: #4f4f4f,
    35: #4f4f4f,
    40: #666,
    50: #7e7e7e,
    60: #999,
    70: #b4b4b4,
    80: #d0d0d0,
    90: #ececec,
    95: #fafafa,
    98: #fcfcfc,
    99: #fcfcfc,
    100: #fff,
  ),
  error: (
    0: #000,
    10: #410b0d,
    20: #631618,
    25: #631618,
    30: #962428,
    35: #962428,
    40: #c43136,
    50: #de3e43,
    60: #e56367,
    70: #ed8e91,
    80: #f2c2c2,
    90: #fadcdc,
    95: #ffeded,
    98: #fffafa,
    99: #fffafa,
    100: #fff,
  ),
);
$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_secondary: map.merge(map.get($_palettes, secondary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);
$_error: map.merge(map.get($_palettes, error), $_rest);
$_success_palette: (
  0: #000,
  10: #003600,
  20: #004d03,
  25: #004d03,
  30: #006607,
  35: #006607,
  40: #04800f,
  50: #1ca629,
  60: #44bd4f,
  70: #7ad683,
  80: #aeebb3,
  90: #d2f7d6,
  95: #d2f7d6,
  98: #d2f7d6,
  99: #d2f7d6,
  100: #fff,
);
$_success: map.merge($_success_palette, $_rest);
$avalon-typography: (
  brand-family: 'Clarivate Regular',
  plain-family: 'Source Sans 3',
  bold-weight: 700,
  medium-weight: 600,
  regular-weight: 400,
);
$avalon-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: $avalon-typography,
  )
);
$avalon-secondary-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_secondary,
      tertiary: $_tertiary,
    ),
    typography: $avalon-typography,
  )
);
$avalon-tertiary-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_tertiary,
      tertiary: $_primary,
    ),
    typography: $avalon-typography,
  )
);
$avalon-error-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_error,
      tertiary: $_tertiary,
    ),
    typography: $avalon-typography,
  )
);
$avalon-success-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_success,
      tertiary: $_tertiary,
    ),
    typography: $avalon-typography,
  )
);
$avalon-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: $avalon-typography,
  )
);
$font-families: (
  display: 'Clarivate Regular, sans-serif',
  headline: 'Clarivate Regular, sans-serif',
  title: 'Source Sans 3, sans-serif',
  body: 'Source Sans 3, sans-serif',
  label: 'Source Sans 3, sans-serif',
);
$weights: (
  regular: 400,
  semibold: 600,
  bold: 700,
);
$sizes: (
  display: (
    large: 48px,
    medium: 40px,
    small: 32px,
  ),
  headline: (
    large: 32px,
    medium: 28px,
    small: 24px,
  ),
  title: (
    large: 24px,
    medium: 20px,
    small: 16px,
  ),
  body: (
    large: 18px,
    medium: 16px,
    small: 14px,
  ),
  label: (
    large: 16px,
    medium: 14px,
    small: 12px,
  ),
);
$line-heights: (
  display: (
    large: 60px,
    medium: 48px,
    small: 40px,
  ),
  headline: (
    large: 40px,
    medium: 36px,
    small: 32px,
  ),
  title: (
    large: 32px,
    medium: 28px,
    small: 24px,
  ),
  body: (
    large: 28px,
    medium: 24px,
    small: 20px,
  ),
  label: (
    large: 24px,
    medium: 20px,
    small: 16px,
  ),
);

@mixin typography($type, $size, $weight: $regular) {
  $font-size: map-get(map-get($sizes, $type), $size);
  $line-height: map-get(map-get($line-heights, $type), $size);

  font-family: 'Source Sans 3', sans-serif;
  font-size: $font-size;
  font-weight: $weight;
  letter-spacing: normal;
  line-height: $line-height;
}

@mixin ava-display($size, $weight: bold) {
  font-family: map-get($font-families, display);
  @include typography(display, $size, map-get($weights, $weight));
}

@mixin ava-headline($size, $weight: bold) {
  font-family: map-get($font-families, headline);
  @include typography(headline, $size, map-get($weights, $weight));
}

@mixin ava-title($size, $weight: semibold) {
  font-family: map-get($font-families, title);
  @include typography(title, $size, map-get($weights, $weight));
}

@mixin ava-body($size, $weight: regular) {
  font-family: map-get($font-families, body);
  @include typography(body, $size, map-get($weights, $weight));
}

@mixin ava-label($size, $weight: regular) {
  font-family: map-get($font-families, label);
  @include typography(label, $size, map-get($weights, $weight));
}

@mixin theme-avalon-typography-levels {
  .ava-display-1 {
    @include ava-display(large);
  }

  .ava-display-2 {
    @include ava-display(medium);
  }

  .ava-display-3 {
    @include ava-display(small);
  }

  .ava-headline-1 {
    @include ava-headline(large);
  }

  .ava-headline-2 {
    @include ava-headline(medium);
  }

  .ava-headline-3 {
    @include ava-headline(small);
  }

  .ava-body-1 {
    @include ava-body(large);
  }

  .ava-body-2 {
    @include ava-body(medium);
  }

  .ava-body-3 {
    @include ava-body(small, bold);
  }

  .ava-label-1 {
    @include ava-label(large);
  }

  .ava-label-2 {
    @include ava-label(medium);
  }

  .ava-label-3 {
    @include ava-label(small);
  }
}
@mixin theme-avalon-buttons() {
  .ava-btn-secondary {
    @include mat.button-color($avalon-secondary-theme);
    @include mat.fab-color($avalon-secondary-theme);

    --mdc-protected-button-container-shape: 8px;
    --mdc-outlined-button-container-shape: 8px;
    --mdc-filled-button-container-shape: 8px;
    --mdc-text-button-container-shape: 8px;
  }

  .ava-btn-tertiary {
    @include mat.button-color($avalon-tertiary-theme);
    @include mat.fab-color($avalon-tertiary-theme);

    --mdc-protected-button-container-shape: 8px;
    --mdc-outlined-button-container-shape: 8px;
    --mdc-filled-button-container-shape: 8px;
    --mdc-text-button-container-shape: 8px;
  }

  .ava-btn-error {
    @include mat.button-color($avalon-error-theme);
    @include mat.fab-color($avalon-error-theme);

    --mdc-protected-button-container-shape: 8px;
    --mdc-outlined-button-container-shape: 8px;
    --mdc-filled-button-container-shape: 8px;
    --mdc-text-button-container-shape: 8px;
  }

  .ava-btn-success {
    @include mat.button-color($avalon-success-theme);
    @include mat.fab-color($avalon-success-theme);

    --mdc-protected-button-container-shape: 8px;
    --mdc-outlined-button-container-shape: 8px;
    --mdc-filled-button-container-shape: 8px;
    --mdc-text-button-container-shape: 8px;
  }

  .ava-btn-xsmall {
    @include mat.button-density(-2);
  }

  .ava-btn-small {
    @include mat.button-density(-1);
  }

  .ava-btn-large {
    height: auto;
    padding: 18px 32px;
  }

  .ava-btn-promotional {
    height: auto;
    padding: 28px 48px;
  }
}

@mixin theme-avalon-color-overrides() {
  @include mat.checkbox-color($avalon-secondary-theme);
  @include mat.radio-color($avalon-secondary-theme);
  @include mat.slide-toggle-color($avalon-secondary-theme);

  .ava-chip-primary {
    @include mat.chips-color($avalon-light-theme, $color-variant: primary);

    --mdc-chip-elevated-container-color: #c2c4d1;
  }

  .ava-chip-secondary {
    @include mat.chips-color($avalon-light-theme, $color-variant: secondary);

    --mdc-chip-elevated-container-color: #41424f;
    --mdc-chip-label-text-color: #fff;
  }
}

@mixin theme-avalon-general-overrides() {
  @include theme-avalon-typography-levels;
  @include theme-avalon-buttons;

  --mdc-protected-button-container-shape: 8px;
  --mdc-outlined-button-container-shape: 8px;
  --mdc-filled-button-container-shape: 8px;
  --mdc-text-button-container-shape: 8px;
  --mdc-chip-container-shape-radius: 999px;
  --mdc-filled-text-field-container-shape: 4px;
  --mdc-dialog-container-shape: 12px;
  --mat-option-selected-state-layer-color: $SurfaceContainerHighest;
  --mat-option-selected-state-label-text-color: #5e33bf;
  --mdc-elevated-card-container-elevation: $elevation2;
  --mdc-elevated-card-container-color: #fff;
  --mat-dialog-container-elevation-shadow: $elevation2;
  --mat-datepicker-calendar-container-background-color: #f5f5f5;
  --mat-datepicker-calendar-container-text-color: #7e7e7e;
  --mat-datepicker-calendar-container-elevation-shadow: 5px 5px 10px 0 #a6abbd66;

  .mat-mdc-card-header,
  .mat-mdc-card-content,
  .mat-mdc-card-actions,
  .mat-mdc-dialog-surface {
    padding: 24px;
  }

  .ava-checkbox-error {
    @include mat.checkbox-theme($avalon-error-theme);
  }
}

@mixin theme-avalon-overrides() {
  @include theme-avalon-general-overrides;
  @include theme-avalon-color-overrides;
}
