/* stylelint-disable scss/dollar-variable-pattern */
@use 'sass:map';
@use '@angular/material' as mat;
@use 'avalon' as ava;

$_palettes: (
  primary: (
    0: #000,
    10: #0c171f,
    20: #13222e,
    25: #13222e,
    30: #192e3e,
    35: #192e3e,
    40: #1f394d,
    50: #354d5f,
    60: #4c6171,
    70: #627482,
    80: #798894,
    90: #a5b0b8,
    95: #d2d7db,
    98: #e9ebed,
    99: #e9ebed,
    100: #fff,
  ),
  secondary: (
    0: #000,
    10: #122936,
    20: #163c52,
    25: #163c52,
    30: #23526c,
    35: #23526c,
    40: #2f6d90,
    50: #3b88b4,
    60: #5a9ec5,
    70: #76accb,
    80: #9dc4da,
    90: #b7d3e4,
    95: #d8eaf5,
    98: #ebf3f8,
    99: #ebf3f8,
    100: #fff,
  ),
  tertiary: (
    0: #000,
    10: #2d1009,
    20: #5b2112,
    25: #5b2112,
    30: #88311c,
    35: #88311c,
    40: #b64225,
    50: #e3522e,
    60: #e97558,
    70: #ee9782,
    80: #f4baac,
    90: #f5cfc6,
    95: #f7ded7,
    98: #fceeea,
    99: #fceeea,
    100: #fff,
  ),
  neutral: (
    0: #000,
    4: #0d0d0d,
    6: #171717,
    10: #212121,
    12: #262626,
    17: #2e2e2e,
    20: #363636,
    22: #3b3b3b,
    24: #404040,
    25: #404040,
    30: #4d4d4d,
    40: #666,
    50: #808080,
    60: #999,
    70: #b3b3b3,
    80: #cfcfcf,
    87: #dedede,
    90: #e6e6e6,
    92: #ebebeb,
    94: #f0f0f0,
    95: #f2f2f2,
    96: #f5f5f5,
    98: #fafafa,
    99: #fcfcfc,
    100: #fff,
  ),
  neutral-variant: (
    0: #000,
    10: #222,
    20: #373737,
    25: #373737,
    30: #4f4f4f,
    35: #4f4f4f,
    40: #666,
    50: #7e7e7e,
    60: #999,
    70: #b4b4b4,
    80: #d0d0d0,
    90: #ececec,
    95: #fafafa,
    98: #fcfcfc,
    99: #fcfcfc,
    100: #fff,
  ),
  error: (
    0: #000,
    10: #410b0d,
    20: #631618,
    25: #631618,
    30: #962428,
    35: #962428,
    40: #c43136,
    50: #de3e43,
    60: #e56367,
    70: #ed8e91,
    80: #f2c2c2,
    90: #fadcdc,
    95: #ffeded,
    98: #fffafa,
    99: #fffafa,
    100: #fff,
  ),
);
$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_secondary: map.merge(map.get($_palettes, secondary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);
$innography-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: ava.$avalon-typography,
  )
);
$innography-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: ava.$avalon-typography,
  )
);
