/* stylelint-disable scss/dollar-variable-pattern */
@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000,
    10: #001c3b,
    20: #00315f,
    25: #00315f,
    30: #16477f,
    35: #16477f,
    40: #345f98,
    50: #4f78b3,
    60: #6992ce,
    70: #84adeb,
    80: #a6c8ff,
    90: #d5e3ff,
    95: #ebf1ff,
    98: #fdf7ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000,
    10: #141c28,
    20: #29313e,
    25: #044600,
    30: #3f4755,
    35: #076000,
    40: #575f6d,
    50: #6f7787,
    60: #8991a1,
    70: #a3abbc,
    80: #bfc7d8,
    90: #bfc7d8,
    95: #ebf1ff,
    98: #edffe1,
    99: #fdfcff,
    100: #fff,
  ),
  tertiary: (
    0: #000,
    10: #25152c,
    20: #3b2a42,
    25: #771300,
    30: #534059,
    35: #a11d00,
    40: #6c5772,
    50: #85708b,
    60: #a089a6,
    70: #bba3c1,
    80: #d7bedd,
    90: #f4dafa,
    95: #feebff,
    98: #fff8f6,
    99: #fffbff,
    100: #fff,
  ),
  neutral: (
    0: #000,
    4: #000,
    6: #121017,
    10: #1b1c1e,
    12: #1d1a22,
    17: #28242d,
    20: #303033,
    22: #322f37,
    24: #322f37,
    25: #3e3a43,
    30: #464749,
    35: #55515a,
    40: #5e5e61,
    50: #77777a,
    60: #919093,
    70: #ababae,
    80: #c7c6c9,
    87: #cbc4cf,
    90: #e3e2e5,
    92: #e7e0eb,
    94: #e7e0eb,
    95: #f2f0f3,
    96: #f6eefa,
    98: #fef7ff,
    99: #fdfcff,
    100: #fff,
  ),
  neutral-variant: (
    0: #000,
    10: #191c21,
    20: #2e3036,
    25: #3d3a43,
    30: #44474d,
    35: #54515a,
    40: #5c5e65,
    50: #75777e,
    60: #8e9098,
    70: #a9abb2,
    80: #c4c6ce,
    90: #c4c6ce,
    95: #eff0f8,
    98: #fdf7ff,
    99: #fdfcff,
    100: #fff,
  ),
  error: (
    0: #000,
    10: #410000,
    20: #690001,
    25: #7e0007,
    30: #930002,
    35: #a80710,
    40: #bd120c,
    50: #e13224,
    60: #ff5542,
    70: #ff8a79,
    80: #ffb4a8,
    90: #ffdad5,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      brand-family: "'Source Sans 3', sans-serif",
      plain-family: "'Source Sans 3', sans-serif",
      bold-weight: 700,
      medium-weight: 600,
      regular-weight: 400,
    ),
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      brand-family: "'Source Sans 3', sans-serif",
      bold-weight: 700,
      medium-weight: 600,
      regular-weight: 400,
    ),
  )
);
