html,
body {
  padding: 0;
  margin: 0;

  cdx-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .cdx-header__product-name-or-logo {
      display: flex;
      margin: 0;
      column-gap: 1rem;
    }

    .cdx-router-link {
      opacity: 0.5;
    }

    .cdx-is-active {
      opacity: 1;
    }

    .cdx-selectors {
      display: flex;
      height: 80px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .hlx-selectors,
    .ava-selectors {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: right;
      gap: 1rem;
    }

    footer {
      margin-top: auto;
    }
  }
}
