@font-face {
  font-family: 'Clarivate Regular';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/RegularClarivate-RegularWEB.woff2') format('woff2'),
    url('../fonts/RegularClarivate-RegularWEB.woff') format('woff');
}

@font-face {
  font-family: 'Clarivate Regular';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/RegularClarivate-BoldWEB.woff2') format('woff2'),
    url('../fonts/RegularClarivate-BoldWEB.woff') format('woff');
}

@font-face {
  font-family: 'Clarivate Bold';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/RegularClarivate-BoldWEB.woff2') format('woff2'),
    url('../fonts/RegularClarivate-BoldWEB.woff') format('woff');
}
