body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  .content__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;

    .theme-select-label {
      padding: 1rem;
    }
  }
}
