@use '../shared/clarivate-typography';

body {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  .cdx-header {
    &__product-logo {
      > svg {
        padding-top: 4px;
        transform: scale(1.2);
      }
    }

    &__middle {
      display: flex;
      flex-direction: row;
      justify-content: start;

      > a {
        > button {
          border-radius: 0;
        }
      }

      .nav-container__button {
        cursor: pointer;
      }

      .current-page {
        border-bottom: 2px solid;
        cursor: default;
        border-radius: 0;
        opacity: 1;
      }

      .disabled:not(.current-page) {
        opacity: 0.5;
        cursor: default;
      }
    }

    .right-user {
      border-radius: 0.5rem;
      margin: 0.5rem;
      padding: 0.5rem;
      width: 13rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .cdx-content {
    display: flex;
    flex-direction: row;

    &__navbar {
      margin-top: 2rem;
      position: sticky;
      top: 0;
      width: 18%;
      flex: 0 0 auto;
      align-self: flex-start;
      padding-left: 1rem;

      .theme-switcher {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > nav {
          padding-bottom: 0;
        }

        .MuiFormLabel-root {
          top: -10px;
        }

        .MuiSelect-select {
          min-width: 6rem;
          border-left: 4px solid;
        }
      }
    }

    &__page {
      flex: 1 1 auto;
      align-self: flex-start;
      min-width: 1200px;

      > main {
        padding-top: 2rem;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
