:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .content {
    &__top-block {
      display: flex;
      height: 32rem;
      align-items: center;
      justify-content: space-around;
      padding-right: 4rem;
      padding-left: 4rem;
      background:
        linear-gradient(
          101deg,
          rgb(53 149 240 / 10%) 38.35%,
          rgb(177 117 225 / 10%) 61.65%
        ),
        #fff;
      gap: 2rem;

      &__title {
        width: 40rem;
        flex-shrink: 0;
      }

      > img {
        height: 17rem;
      }
    }

    &__bottom-block {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-right: 4rem;
      padding-bottom: 6rem;
      padding-left: 4rem;
      gap: 2rem;

      > app-card-c {
        margin-top: -4rem;
      }
    }
  }
}
