$cdx-footer-padding: 2rem;
$cdx-footer-column-width: clamp(
  7.5rem,
  calc(7.5rem + (12 - 7.5) * ((100vw - 48rem) / (85 - 48))),
  12rem
); // from https://websemantics.uk/tools/responsive-font-calculator/
$cdx-footer-grid-gap: 1.5rem;

.cdx-footer {
  display: flex;
  flex-wrap: wrap;
  padding: $cdx-footer-padding;
  background-color: black;
  color: white;
  font-family: 'Clarivate Regular', sans-serif;
  gap: $cdx-footer-grid-gap;

  &--slim {
    padding: calc($cdx-footer-padding / 4);
  }

  &__copyright {
    width: $cdx-footer-column-width;
    font-family: 'Clarivate Bold', sans-serif;
  }

  &__content {
    display: grid;
    flex: 1;
    gap: inherit;
    grid-template-columns: repeat(auto-fit, $cdx-footer-column-width);

    // slotted will be targeted only in the web components
    > *,
    ::slotted(*) {
      align-self: start;
      justify-self: start;
    }

    a {
      padding-top: 3px;
      padding-bottom: 3px;
    }

    a,
    ::slotted(a) {
      color: inherit;
      text-decoration: none;
    }

    a:hover,
    ::slotted(a:hover) {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
