@use '@hlx/theme-angular-material' as hlx;

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0 0;

  .heading {
    padding: 0 4rem;

    &__section {
      color: hlx.$text-secondary;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.05em;
      line-height: 24px;
    }

    &__divider {
      border-top: 1px solid hlx.$border-primary;
      margin: 1rem 0 2rem;
    }
  }

  .page-tabs {
    margin: 1rem 4rem 2rem;
  }

  .content {
    flex: 1;
    padding: 0 4rem 2rem;
  }
}
