:host {
  display: block;

  .header {
    &__navigation {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2px;
    }

    &__link {
      height: 2.5rem;
      text-transform: capitalize;
      border-radius: 2px;
      text-decoration: none;
      color: white;

      &--active {
        background: var(--components-invert-hover, rgba(255, 255, 255, 0.08));
        cursor: default;
        pointer-events: none;
      }
    }

    &__menu {
      height: 2.5rem;
      border-radius: 2px;
      color: white;
      display: inline-flex;
      align-items: center;
      white-space: nowrap;
    }

    .hlx-header__global {
      column-gap: 2rem;
      align-items: center;
    }

    .hlx-header__product-name-or-logo {
      cursor: pointer;
    }
  }
}
