/* stylelint-disable scss/dollar-variable-pattern */
$_palettes: (
  primary: (
    0: #000,
    10: #001f1b,
    20: #00332d,
    25: #00332d,
    30: #00473e,
    35: #00473e,
    40: #006659,
    50: #1b8576,
    60: #429e92,
    70: #68b2a9,
    80: #8dc9c1,
    90: #b8dbd7,
    95: #cce0de,
    98: #e6f0ee,
    99: #e6f0ee,
    100: #fff,
  ),
  secondary: (
    0: #000,
    10: #00211d,
    20: #003d36,
    25: #003d36,
    30: #006155,
    35: #006155,
    40: #008474,
    50: #26998b,
    60: #46b0a3,
    70: #69c7b7,
    80: #8ad4ca,
    90: #b1e5de,
    95: #d5f2ee,
    98: #f5fcfb,
    99: #f5fcfb,
    100: #fff,
  ),
  tertiary: (
    0: #000,
    10: #002730,
    20: #004354,
    25: #004354,
    30: #00708c,
    35: #00708c,
    40: #0094b8,
    50: #00afda,
    60: #00c2f2,
    70: #33cef5,
    80: #66daf7,
    90: #99e7fa,
    95: #ccf3fc,
    98: #effbfe,
    99: #effbfe,
    100: #fff,
  ),
  neutral: (
    0: #000,
    4: #0d0d0d,
    6: #171717,
    10: #212121,
    12: #262626,
    17: #2e2e2e,
    20: #363636,
    22: #3b3b3b,
    24: #404040,
    25: #404040,
    30: #4d4d4d,
    40: #666,
    50: #808080,
    60: #999,
    70: #b3b3b3,
    80: #cfcfcf,
    87: #dedede,
    90: #e6e6e6,
    92: #ebebeb,
    94: #f0f0f0,
    95: #f2f2f2,
    96: #f5f5f5,
    98: #fafafa,
    99: #fcfcfc,
    100: #fff,
  ),
  neutral-variant: (
    0: #000,
    10: #222,
    20: #373737,
    25: #373737,
    30: #4f4f4f,
    35: #4f4f4f,
    40: #666,
    50: #7e7e7e,
    60: #999,
    70: #b4b4b4,
    80: #d0d0d0,
    90: #ececec,
    95: #fafafa,
    98: #fcfcfc,
    99: #fcfcfc,
    100: #fff,
  ),
  error: (
    0: #000,
    10: #410b0d,
    20: #631618,
    25: #631618,
    30: #962428,
    35: #962428,
    40: #c43136,
    50: #de3e43,
    60: #e56367,
    70: #ed8e91,
    80: #f2c2c2,
    90: #fadcdc,
    95: #ffeded,
    98: #fffafa,
    99: #fffafa,
    100: #fff,
  ),
);
$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_secondary: map.merge(map.get($_palettes, secondary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

@mixin theme-derwent-color-overrides() {
  @include mat.checkbox-color($derwent-secondary-theme);
  @include mat.radio-color($derwent-secondary-theme);
  @include mat.slide-toggle-color($derwent-secondary-theme);

  .ava-chip-primary {
    @include mat.chips-color($derwent-light-theme, $color-variant: primary);

    --mat-chip-elevated-container-color: #c2c4d1;
  }

  .ava-chip-secondary {
    @include mat.chips-color($derwent-light-theme, $color-variant: secondary);

    --mat-chip-elevated-container-color: #41424f;
    --mat-chip-label-text-color: #fff;
  }
}
