/* stylelint-disable scss/dollar-variable-pattern */
@use 'sass:map';
@use '@angular/material' as mat;
@use '../avalon' as ava;
@import 'colors';

$derwent-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: ava.$avalon-typography,
  )
);
$derwent-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: ava.$avalon-typography,
  )
);
$derwent-secondary-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_secondary,
      tertiary: $_tertiary,
    ),
    typography: ava.$avalon-typography,
  )
);

@mixin theme-derwent-overrides() {
  @include ava.theme-avalon-general-overrides;
  @include theme-derwent-color-overrides;
}
