/* Primitives - Mode 1 */
$spacing-half: 4px;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;
$spacing-7: 56px;
$spacing-8: 64px;
$spacing-9: 72px;
$spacing-10: 80px;
$spacing-11: 88px;
$spacing-12: 96px;
$spacing-13: 104px;
$color-purple-100: rgba(250, 245, 255, 1);
$color-purple-400: rgba(177, 117, 225, 1);
$color-purple-600: rgba(94, 51, 191, 1);
$color-neutral-0: rgba(255, 255, 255, 1);
$color-neutral-100: rgba(242, 242, 242, 1);
$color-neutral-200: rgba(223, 225, 226, 1);
$color-neutral-400: rgba(186, 188, 190, 1);
$color-neutral-600: rgba(95, 99, 104, 1);
$color-neutral-800: rgba(42, 43, 45, 1);
$color-neutral-1000: rgba(0, 0, 0, 1);
$color-red-100: rgba(250, 220, 220, 1);
$color-red-500: rgba(196, 49, 54, 1);
$color-red-900: rgba(65, 11, 13, 1);
$color-yellow-100: rgba(255, 239, 209, 1);
$color-yellow-500: rgba(239, 159, 0, 1);
$color-yellow-900: rgba(64, 43, 0, 1);
$color-green-100: rgba(210, 247, 214, 1);
$color-green-500: rgba(4, 128, 15, 1);
$color-green-900: rgba(0, 54, 0, 1);
$color-blue-100: rgba(215, 232, 247, 1);
$color-blue-400: rgba(53, 149, 240, 1);
$color-blue-500: rgba(12, 106, 193, 1);
$color-blue-700: rgba(21, 101, 192, 1);
$color-blue-900: rgba(3, 28, 64, 1);
$color-indigo-900: rgba(40, 44, 117, 1);
