/* Typography - Mode 1 */
$size-xs: 12px;
$size-sm: 13px;
$size-md: 14px;
$size-lg: 16px;
$size-xl: 18px;
$size-2xl: 24px;
$size-3xl: 32px;
$size-4xl: 40px;
$face-brand: Regular Clarivate;
$face-default: Source Sans 3;
$weight-bold: Bold;
$weight-semi-bold: SemiBold;
$weight-regular: Regular;
$line-hight-sm: 16px;
$line-hight-md: 24px;
$line-hight-lg: 32px;
$line-hight-xl: 40px;
$line-hight-2xl: 56px;
