.search-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;

  &__search-icon {
    color: white;
    cursor: pointer;
    font-size: 24px;
    transition: transform 1s ease;
  }

  &__input {
    width: 0;
    max-width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    opacity: 0;
    transition:
      width 0.25s ease,
      opacity 0.1s ease;
  }

  &__input.visible {
    width: 14rem;
    opacity: 1;
  }

  input:focus {
    outline: none;
  }

  &__close-icon {
    margin-left: 8px;
    cursor: pointer;
  }
}
