:host {
  .mat-mdc-card {
    padding: 2rem;
    height: 100%;

    .image {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 128px;
      margin: 0 auto;
      width: 190px;
    }

    .title {
      font-size: 26px;
      font-family: Source Sans Pro, sans-serif;
      font-weight: 600;
      margin: 2rem auto 1rem;
    }
  }
}
