@use '@angular/material' as mat;
@use '@cdx/colors' as colors;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$preferred-line-height: 1.5;

$helix-palette: mat.m2-define-palette(
  (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $dark-primary-text,
      A700: $dark-primary-text,
    ),
  )
);
$accent-palette: mat.m2-define-palette(
  (
    50: colors.$accent-50,
    100: colors.$accent-100,
    200: colors.$accent-200,
    300: colors.$accent-300,
    400: colors.$accent-400,
    500: colors.$accent-500,
    600: colors.$accent-600,
    700: colors.$accent-700,
    800: colors.$accent-800,
    900: colors.$accent-900,
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #000,
      400: #000,
      500: #000,
      600: #000,
      700: #000,
      800: #fff,
      900: #fff,
    ),
  )
);
$warn-palette: mat.m2-define-palette(
  (
    50: colors.$warn-50,
    100: colors.$warn-100,
    200: colors.$warn-200,
    300: colors.$warn-300,
    400: colors.$warn-400,
    500: colors.$warn-500,
    600: colors.$warn-600,
    700: colors.$warn-700,
    800: colors.$warn-800,
    900: colors.$warn-900,
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #000,
      400: #000,
      500: #fff,
      600: #fff,
      700: #fff,
      800: #fff,
      900: #fff,
    ),
  )
);

$helix-typography: mat.m2-define-typography-config(
  $font-family: '"Source Sans 3", sans-serif',
  $headline-1: mat.m2-define-typography-level(96px, 116px, 700),
  $headline-2: mat.m2-define-typography-level(56px, 64px, 700),
  $headline-3: mat.m2-define-typography-level(48px, 56px, 700),
  $headline-4: mat.m2-define-typography-level(32px, 40px, 700),
  $headline-5: mat.m2-define-typography-level(26px, 26px, 600),
  $headline-6: mat.m2-define-typography-level(20px, $preferred-line-height, 600),
  $subtitle-1: mat.m2-define-typography-level(18px, $preferred-line-height, 400),
  $subtitle-2: mat.m2-define-typography-level(16px, $preferred-line-height, 400),
  $body-1: mat.m2-define-typography-level(16px, $preferred-line-height, 400),
  $body-2: mat.m2-define-typography-level(16px, $preferred-line-height, 400),
  $caption: mat.m2-define-typography-level(12px, $preferred-line-height, 400),
  $button: mat.m2-define-typography-level(inherit, $font-weight: 600),
);

$helix-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $helix-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
    density: 0,
    typography: $helix-typography,
  )
);
$helix-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $helix-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
    density: 0,
    typography: $helix-typography,
  )
);

$shape-properties: (
  mdc-protected-button-container-shape,
  mdc-outlined-button-container-shape,
  mdc-outlined-text-field-container-shape,
  mat-autocomplete-container-shape,
  mdc-dialog-container-shape,
  mdc-text-button-container-shape,
  mdc-filled-button-container-shape
);

@mixin set-shape-properties($properties, $value: 0) {
  @each $property in $properties {
    --#{$property}: #{$value}px;
  }
}
