@use 'sass:map';
@use 'sass:color';
@use 'sass:math';

@use '@angular/material' as mat;

$preferred-line-height: 1.3;

@function estimate-hue($hues, $hue, $prev-hue, $next-hue) {
  $weight: math.div($next-hue - $hue, $next-hue - $prev-hue) * 100%;
  @return color.mix(
    map.get($hues, $prev-hue),
    map.get($hues, $next-hue),
    $weight
  );
}

@function patch-missing-hues($palette) {
  $neutral: map.get($palette, neutral);
  $palette: map.set($palette, neutral, 4, estimate-hue($neutral, 4, 0, 10));
  $palette: map.set($palette, neutral, 6, estimate-hue($neutral, 6, 0, 10));
  $palette: map.set($palette, neutral, 12, estimate-hue($neutral, 12, 10, 20));
  $palette: map.set($palette, neutral, 17, estimate-hue($neutral, 17, 10, 20));
  $palette: map.set($palette, neutral, 22, estimate-hue($neutral, 22, 20, 25));
  $palette: map.set($palette, neutral, 24, estimate-hue($neutral, 24, 20, 25));
  $palette: map.set($palette, neutral, 87, estimate-hue($neutral, 87, 80, 90));
  $palette: map.set($palette, neutral, 92, estimate-hue($neutral, 92, 90, 95));
  $palette: map.set($palette, neutral, 94, estimate-hue($neutral, 94, 90, 95));
  $palette: map.set($palette, neutral, 96, estimate-hue($neutral, 96, 95, 98));
  @return $palette;
}

$helix-palette: patch-missing-hues(
  (
    0: #2a2b2d,
    10: #2a2b2d,
    20: #2a2b2d,
    25: #2a2b2d,
    30: #2a2b2d,
    35: #2a2b2d,
    40: #2a2b2d,
    50: #2a2b2d,
    60: #fff,
    70: #fff,
    80: #fff,
    90: #fff,
    95: #fff,
    98: #fff,
    99: #fff,
    100: #fff,

    secondary: (
      0: #eee7f8,
      10: #d2c4ed,
      20: #b49de2,
      25: #b49de2,
      30: #9675d7,
      35: #9675d7,
      40: #5e33bf,
      50: #5d33bf,
      60: #4f2bb6,
      70: #4125af,
      80: #2818a2,
      90: #fff,
      95: #fff,
      98: #fff,
      99: #fff,
      100: #fff,
    ),
    neutral: (
      0: #2a2b2d,
      10: #201a19,
      20: #362f2e,
      25: #413a38,
      30: #4d4544,
      35: #59504f,
      40: #655c5b,
      50: #7f7573,
      60: #998e8d,
      70: #b4a9a7,
      80: #d0c4c2,
      90: #ede0dd,
      95: #fbeeec,
      98: #fff8f6,
      99: #fffbff,
      100: #fff,
    ),
    neutral-variant: (
      0: #2a2b2d,
      10: #251917,
      20: #3b2d2b,
      25: #473836,
      30: #534341,
      35: #5f4f4c,
      40: #6c5a58,
      50: #857370,
      60: #a08c89,
      70: #bca7a3,
      80: #d8c2be,
      90: #f5ddda,
      95: #ffedea,
      98: #fff8f6,
      99: #fffbff,
      100: #fff,
    ),
  )
);
$helix-palette-2: patch-missing-hues(
  (
    0: #000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #891d37,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #891d37,
    95: #891d37,
    98: #891d37,
    99: #891d37,
    100: #891d37,

    secondary: (
      0: #eee7f8,
      10: #d2c4ed,
      20: #b49de2,
      25: #b49de2,
      30: #9675d7,
      35: #9675d7,
      40: #5e33bf,
      50: #5d33bf,
      60: #4f2bb6,
      70: #4125af,
      80: #2818a2,
      90: #fff,
      95: #fff,
      98: #fff,
      99: #fff,
      100: #fff,
    ),
    neutral: (
      0: #2a2b2d,
      10: #201a19,
      20: #362f2e,
      25: #413a38,
      30: #4d4544,
      35: #59504f,
      40: #655c5b,
      50: #7f7573,
      60: #998e8d,
      70: #b4a9a7,
      80: #d0c4c2,
      90: #ede0dd,
      95: #fbeeec,
      98: #fff8f6,
      99: #fffbff,
      100: #fff,
    ),
    neutral-variant: (
      0: #000,
      10: #251917,
      20: #3b2d2b,
      25: #473836,
      30: #534341,
      35: #5f4f4c,
      40: #6c5a58,
      50: #857370,
      60: #a08c89,
      70: #bca7a3,
      80: #d8c2be,
      90: #f5ddda,
      95: #ffedea,
      98: #fff8f6,
      99: #fffbff,
      100: #fff,
    ),
  )
);
$helix-typography: mat.typography-hierarchy(
  $font-family: '"Source Sans 3", sans-serif',
  $headline-1: mat.m2-define-typography-level(96px, 116px, 700),
  $headline-2: mat.m2-define-typography-level(56px, 64px, 700),
  $headline-3: mat.m2-define-typography-level(48px, 56px, 700),
  $headline-4: mat.m2-define-typography-level(32px, 40px, 700),
  $headline-5: mat.m2-define-typography-level(26px, 26px, 600),
  $headline-6: mat.m2-define-typography-level(20px, $preferred-line-height, 600),
  $subtitle-1: mat.m2-define-typography-level(18px, $preferred-line-height, 400),
  $subtitle-2: mat.m2-define-typography-level(16px, $preferred-line-height, 400),
  $body-1: mat.m2-define-typography-level(16px, $preferred-line-height, 400),
  $body-2: mat.m2-define-typography-level(16px, $preferred-line-height, 400),
  $caption: mat.m2-define-typography-level(12px, $preferred-line-height, 400),
  $button: mat.m2-define-typography-level(inherit, $font-weight: 600),
);
$helix-config: (
  color: (
    primary: $helix-palette,
    tertiary: $helix-palette,
  ),
);
$helix-config-2: (
  color: (
    primary: $helix-palette-2,
    tertiary: $helix-palette-2,
  ),
);
$helix-light-theme: matx.define-theme($helix-config);
$helix-warn-theme: matx.define-theme($helix-config-2);
$helix-dark-theme: matx.define-theme(
  map.set($helix-config, color, theme-type, dark)
);
