@mixin material-overrides() {
  // stroked buttons (that are not disabled) should inherit border color
  .mat-stroked-button:not(.mat-button-disabled) {
    border-color: inherit;
  }

  // make anchor focus state look consistent with mat in footer
  /* stylelint-disable order/properties-order */
  .cdx-footer a:focus:not(.mat-button-base) {
    outline: none; // turn off default user-agent styles
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder */
    @extend .mat-focus-indicator; // grab construct and colors from mat

    // move the :before border "away" a comfortable amount
    margin: -5px;
    padding: 5px;
  }

  .mat-menu-panel {
    max-width: none !important;
  }

  .mat-mdc-menu-panel.mat-mdc-menu-panel {
    max-width: none !important;
  }

  .mat-tab-labels {
    .mat-tab-label-active {
      opacity: 1;
    }
  }

  .mat-form-field--transparent {
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: transparent;

      .mat-mdc-form-field-focus-overlay {
        background-color: transparent;
      }
    }
  }

  .mat-typography.mat-legacy-spacing {
    p {
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
  }

  /* stylelint-enable order/properties-order */
}
