@use '@angular/material' as mat;

@use '../../colors' as colors;
@use './overrides';

$preferred-line-height: 1.3;
$primary-palette: mat.define-palette(
  (
    50: colors.$primary-50,
    100: colors.$primary-100,
    200: colors.$primary-200,
    300: colors.$primary-300,
    400: colors.$primary-400,
    500: colors.$primary-500,
    600: colors.$primary-600,
    700: colors.$primary-700,
    800: colors.$primary-800,
    900: colors.$primary-900,
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #000,
      400: #fff,
      500: #fff,
      600: #fff,
      700: #fff,
      800: #fff,
      900: #fff,
    ),
  )
);
$accent-palette: mat.define-palette(
  (
    50: colors.$accent-50,
    100: colors.$accent-100,
    200: colors.$accent-200,
    300: colors.$accent-300,
    400: colors.$accent-400,
    500: colors.$accent-500,
    600: colors.$accent-600,
    700: colors.$accent-700,
    800: colors.$accent-800,
    900: colors.$accent-900,
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #000,
      400: #000,
      500: #000,
      600: #000,
      700: #000,
      800: #fff,
      900: #fff,
    ),
  )
);
$warn-palette: mat.define-palette(
  (
    50: colors.$warn-50,
    100: colors.$warn-100,
    200: colors.$warn-200,
    300: colors.$warn-300,
    400: colors.$warn-400,
    500: colors.$warn-500,
    600: colors.$warn-600,
    700: colors.$warn-700,
    800: colors.$warn-800,
    900: colors.$warn-900,
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #000,
      400: #000,
      500: #fff,
      600: #fff,
      700: #fff,
      800: #fff,
      900: #fff,
    ),
  )
);
$cdx-typography: mat.define-typography-config(
  $font-family: '"Source Sans Pro", sans-serif',
  $headline-1: mat.define-typography-level(96px, 116px, 700),
  $headline-2: mat.define-typography-level(56px, 64px, 700),
  $headline-3: mat.define-typography-level(48px, 56px, 700),
  $headline-4: mat.define-typography-level(32px, 40px, 700),
  $headline-5: mat.define-typography-level(26px, 26px, 600),
  $headline-6: mat.define-typography-level(20px, $preferred-line-height, 600),
  $subtitle-1: mat.define-typography-level(18px, $preferred-line-height, 400),
  $subtitle-2: mat.define-typography-level(16px, $preferred-line-height, 400),
  $body-1: mat.define-typography-level(18px, $preferred-line-height, 400),
  $body-2: mat.define-typography-level(16px, $preferred-line-height, 400),
  $caption: mat.define-typography-level(12px, $preferred-line-height, 400),
  $button: mat.define-typography-level(inherit, $font-weight: 600),
);
$dark-mode-palette: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #ba84ff,
  400: #81c784,
  500: #63daff,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #fff,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  ),
);
$cdx-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
    density: 0,
    typography: $cdx-typography,
  )
);
$cdx-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette($dark-mode-palette, 500, 'A100', 'A400'),
      accent: mat.define-palette($dark-mode-palette, 50, 600, 800),
    ),
    typography: $cdx-typography,
  )
);

@mixin default() {
  @include mat.core;
  @include mat.core-theme($cdx-theme);
  @include mat.all-component-themes($cdx-theme);
  @include mat.typography-hierarchy($cdx-typography);
  @include overrides.material-overrides;

  .cdk-keyboard-focused {
    @include mat.strong-focus-indicators;
    @include mat.strong-focus-indicators-theme(#00c2f2);
  }

  // change the color of the user-agent keyboard focus state for anchors
  a:focus-visible:not(.mat-button-base) {
    outline-color: #00c2f2;
  }

  :root {
    --cdx-light-text: rgba(#000, 0.87);
    --cdx-light-background: #fff;
    --cdx-dark-text: white;
    --cdx-dark-background: #181d1f;
  }

  body.cdx-light-mode {
    @include mat.core-color($cdx-theme);

    @include mat.all-component-themes($cdx-theme);

    background-color: var(--cdx-light-background, #fff);
    color: var(--cdx-light-text, #181d1f);
  }

  body.cdx-dark-mode {
    @include mat.core-color($cdx-dark-theme);

    @include mat.all-component-themes($cdx-dark-theme);

    background-color: var(--cdx-dark-background, #181d1f);
    color: var(--cdx-dark-text, #fff);
  }

  body.cdx-auto-mode {
    @media (prefers-color-scheme: light) {
      @include mat.core-color($cdx-theme);

      @include mat.all-component-themes($cdx-theme);

      background-color: var(--cdx-light-background, #fff);
      color: var(--cdx-light-text, #181d1f);
    }

    @media (prefers-color-scheme: dark) {
      @include mat.core-color($cdx-dark-theme);

      @include mat.all-component-themes($cdx-dark-theme);

      background-color: var(--cdx-dark-background, #181d1f);
      color: var(--cdx-dark-text, #fff);
    }
  }
}
