@use '@angular/material' as mat;

@use './overrides';
@use './theme/default.scss' as default;

$default-theme-name: 'cdx-theme-material';

@mixin default($theme: default.$light-theme, $class-name: $default-theme-name) {
  .#{$class-name} {
    @include mat.core();
    @include mat.core-theme($theme);
    @include mat.all-component-themes($theme);
    @include overrides.material-overrides;
    @include focus-indicators-color(mat.get-theme-color($theme, primary, 40));
  }
  @include mat.typography-hierarchy(
    $theme,
    '.#{$class-name}.mat-typography'
  ); // ".cdx-theme-material.mat-typography"
}

@mixin focus-indicators-color($color, $transparent-background: false) {
  .cdk-keyboard-focused,
  .cdx-focused {
    @include mat.strong-focus-indicators;
    @include mat.strong-focus-indicators-theme($color);

    @if $transparent-background {
      --mat-text-button-focus-state-layer-opacity: 0;
      --mat-tab-header-active-ripple-color: transparent;

      span.mat-mdc-button-persistent-ripple {
        --mat-outlined-button-state-layer-color: transparent;
      }
    }
  }

  // change the color of the user-agent keyboard focus state for anchors
  a:focus-visible:not(.mat-button-base) {
    outline-color: $color;
  }
}
