// Blue light
$blue-50: #e1ebf1;
$blue-100: #b3cddb;
$blue-200: #81acc3;
$blue-300: #4f8aab;
$blue-400: #297199;
$blue-500: #035887;
$blue-600: #03507f;
$blue-700: #024774;
$blue-800: #023d6a;
$blue-900: #012d57;

// Blue Dark
$blue-dark-50: #e4f4ff;
$blue-dark-100: #bce4fe;
$blue-dark-200: #8fd2fe;
$blue-dark-300: #62c0fd;
$blue-dark-400: #40b3fc;
$blue-dark-500: #1ea5fc;
$blue-dark-600: #1a9dfc;
$blue-dark-700: #1693fb;
$blue-dark-800: #128afb;
$blue-dark-900: #0a79fa;
