// Teal light
$teal-50: #e0edef;
$teal-100: #b3d3d7;
$teal-200: #80b6bd;
$teal-300: #4d98a3;
$teal-400: #26828f;
$teal-500: #006c7b;
$teal-600: #006473;
$teal-700: #005968;
$teal-800: #004f5e;
$teal-900: #003d4b;

// Teal dark
$teal-dark-50: #f4fdf1;
$teal-dark-100: #e3f9dd;
$teal-dark-200: #d1f6c7;
$teal-dark-300: #bef2b0;
$teal-dark-400: #b0ef9f;
$teal-dark-500: #a2ec8e;
$teal-dark-600: #9aea86;
$teal-dark-700: #90e77b;
$teal-dark-800: #86e471;
$teal-dark-900: #75df5f;
