@use '@cdx/theme-angular-material' as cdx;
@use '@cdx/ngx-branding/header/theme' as header;
@use '@cdx/ngx-branding/footer/theme' as footer;
@import './themes/custom-theme';
@import './themes/helix.scss';

@include cdx.default;
@include header.theme(cdx.$cdx-theme);
@include footer.theme(cdx.$cdx-theme);

html,
body {
  padding: 0;
  margin: 0;
}

body {
  &.cdx-dark-mode {
    @include cdx.theme(cdx.$cdx-dark-theme);
  }

  &.cdx-theme-teal {
    @include cdx.theme(cdx.$cdx-teal-theme);

    &.cdx-dark-mode {
      @include cdx.theme(cdx.$cdx-teal-dark-theme);
    }
  }

  &.cdx-theme-blue {
    @include cdx.theme(cdx.$cdx-blue-theme);

    &.cdx-dark-mode {
      @include cdx.theme(cdx.$cdx-blue-dark-theme);
    }
  }

  &.cdx-theme-helix {
    @include cdx.theme($helix-theme);

    &.cdx-dark-mode {
      @include cdx.theme($helix-dark-theme);
    }
  }

  &.cdx-theme-custom {
    @include cdx.theme($custom-theme);

    &.cdx-dark-mode {
      @include cdx.theme($custom-dark-theme);
    }
  }

  .mat-mdc-form-field--no-bottom-space {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

@media screen and (max-width: 19000px) {
  :root {
    font-size: 20px;
  }
}

@media screen and (max-width: 1830px) {
  :root {
    font-size: 19px;
  }
}

@media screen and (max-width: 1730px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (max-width: 1630px) {
  :root {
    font-size: 17px;
  }
}

@media screen and (max-width: 1530px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-width: 1430px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (max-width: 1330px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 1230px) {
  :root {
    font-size: 13px;
  }
}

@media screen and (max-width: 1180px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 1080px) {
  :root {
    font-size: 11px;
  }
}

@media screen and (max-width: 980px) {
  :root {
    font-size: 10px;
  }
}

@media screen and (max-width: 880px) {
  :root {
    font-size: 9px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  :root {
    font-size: 7px;
  }
}

@media screen and (max-width: 620px) {
  :root {
    font-size: 6px;
  }
}

@media screen and (max-width: 540px) {
  :root {
    font-size: 5px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 4px;
  }
}
