@use '@cdx/theme-angular-material' as cdx;
@use '@cdx/ngx-branding/header/theme' as header;
@use '@cdx/ngx-branding/footer/theme' as footer;
@import './themes/custom-theme';
@import './themes/helix.scss';

@include cdx.default;
@include header.theme(cdx.$cdx-theme);
@include footer.theme(cdx.$cdx-theme);

html,
body {
  padding: 0;
  margin: 0;
}

body {
  &.cdx-dark-mode {
    @include cdx.theme(cdx.$cdx-dark-theme);
  }

  &.cdx-theme-teal {
    @include cdx.theme(cdx.$cdx-teal-theme);

    &.cdx-dark-mode {
      @include cdx.theme(cdx.$cdx-teal-dark-theme);
    }
  }

  &.cdx-theme-blue {
    @include cdx.theme(cdx.$cdx-blue-theme);

    &.cdx-dark-mode {
      @include cdx.theme(cdx.$cdx-blue-dark-theme);
    }
  }

  &.cdx-theme-helix {
    @include cdx.theme($helix-theme);

    &.cdx-dark-mode {
      @include cdx.theme($helix-dark-theme);
    }
  }

  &.cdx-theme-custom {
    @include cdx.theme($custom-theme);

    &.cdx-dark-mode {
      @include cdx.theme($custom-dark-theme);
    }
  }

  .mat-mdc-form-field--no-bottom-space {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
