@use '@angular/material' as mat;
@use '@hlx/theme-angular-material' as hlx;

:host {
  .color-pill {
    display: flex;
    width: 140px;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    border: 1px solid hlx.$border-secondary;
    border-radius: 2px;
    background-color: hlx.$surface-minimal;
    cursor: pointer;
    text-transform: uppercase;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      @include mat.elevation(2);
    }

    &__box {
      width: 42px;
      height: 24px;
      border: 1px solid hlx.$border-invert;
      border-radius: 2px;
      margin-right: 8px;
    }
  }
}
