.cdx-popper-tooltip {
  z-index: 30;
  max-width: 30rem;
  padding: 0.5rem 1rem;
  border: none;
  margin: 0.875rem 0;
  background-color: #000;
  border-radius: 0.25rem;
  box-shadow: none;
  color: #fff;
  font: 400 1rem 'Source Sans Pro', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25;
  pointer-events: none;
  white-space: normal;
}

.cdx-popper-arrow,
.cdx-popper-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.cdx-popper-arrow {
  visibility: hidden;
}

.cdx-popper-arrow::before {
  content: '';
  transform: rotate(45deg);
  visibility: visible;
}

.cdx-popper-tooltip[data-popper-placement^='top'] > .cdx-popper-arrow {
  bottom: -4px;
}

.cdx-popper-tooltip[data-popper-placement^='bottom'] > .cdx-popper-arrow {
  top: -4px;
}

.cdx-popper-tooltip[data-popper-placement^='left'] > .cdx-popper-arrow {
  right: -4px;
}

.cdx-popper-tooltip[data-popper-placement^='right'] > .cdx-popper-arrow {
  left: -4px;
}
