.mat-mdc-form-field {
  display: inline-flex;
  padding: 0.5rem;
  margin-top: 1rem;

  @media (max-width: 920px) {
    display: none;
  }
}

.mat-mdc-menu-trigger {
  display: none;

  @media (max-width: 920px) {
    display: block;
  }
}

.cdx-circle {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  &--cdx {
    background-color: #5e33bf;
  }

  &--custom {
    background-color: #4caf50;
  }

  &--helix {
    background-color: #000;
    box-shadow: 0 0 0 0.0625rem rgb(255 255 255 / 80%);
  }
}

.cdx-circle-dark.cdx-circle {
  &--purple {
    background-color: #ba84ff;
  }

  &--teal {
    background-color: #a2ec8e;
  }

  &--blue {
    background-color: #1ea5fc;
  }
}
