.nav-container {
  .current-page {
    border-left: 4px solid;
    cursor: default;
  }

  &__link {
    text-decoration: none;
  }

  &__button {
    justify-content: flex-start;
    text-align: left;
    border-radius: 1;
    text-transform: none;
    width: 100%;
    cursor: pointer;
  }
}
