:host {
  display: flex;
  flex: 1;

  .heading {
    padding: 4rem 3rem 0;

    &__title {
      font-size: 48px;
    }
    &__subtitle {
      font-size: 18px;
      padding-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .page-section {
    display: flex;
    flex-direction: row;
    flex: 1;

    &--general {
      flex-direction: column;
      flex: 1;
    }
  }
}
